[2016-12-07 13:27] #328 closed

[2016-12-07 14:32] stevepeak commented on #330
Thank you for asking. Your configuration is valid 👍 Nice job.

Can you set the paths to the following. I'll need to fix our paths to strip the first `/` character.

[code]

[2016-12-07 17:54] jasonmp85 commented on #315
20 minutes would be great. I'm seeing ≈ 1 hour. What's up with that?!?

[2016-12-07 17:55] stevepeak commented on #315
We had a huge delay just not in jobs. Everything is back to normal. Thank you for your patience :) We are experience high demand for Codecov and working hard to scale and manage accordingly.

[2016-12-07 17:57] jasonmp85 commented on #315
Ah, ok. Is this typical? Is there a way around it? I'd like to make the codecov statuses required for us to merge a pull request, but waiting an hour is a bit of a high bar.

It was actually my _first_ build after merging codecov support, so I'm fairly new and the one-hour processing time put me off (we used coveralls previously but I wanted to try codecov with this project due to the richer featu

[2016-12-07 18:01] stevepeak commented on #315
@jasonmp85 it is certainly not typical at all. This delay occurs once a week for a hour at most.

[2016-12-08 00:37] dopplershift commented on #330
Still the same results.

[2016-12-08 00:44] dopplershift commented on #330
Setting:
[code]
Results in a coverage of 99.75% (just that one module). Trying then:
[code]
Gives me the same 99.75% coverage.

[2016-12-08 17:56] dopplershift commented on #330
Actual trying actual regexes:
[code]
gives the same results. I have yet to see an exclude work, other than if I *only* specify an exclude, I get 0% coverage.

[2016-12-08 22:19] rianquinn commented on #193
@stevepeak I'm seeing the same issue here with GCC. As an example, the following code shows partials all over the place:

![](https://s29.postimg.org/snubz4cfr/Screen_Shot_2016_12_08_at_3_15_54_PM.png)

I see it in other places too, but this is a good example as there are only two paths it can take, and clearly both are taken as you can see the taken lines on both paths, and it's reporting 4 paths

[2016-12-08 23:55] rianquinn opened #331 "YML Detection not working"
This is my Travic setup:

[code]

The YML configuration file is not detected by the bash script. The problem is with this line:

[code]

proj_root in this case is the build location and not the git_root location. I tried copying the config to "../makefiles/extended_apis/" but the above bash code doesn't seem to work right as the ` find . -name "*codecov.yml" 2>/dev/null` part never gets a chance t

[2016-12-09 00:05] rianquinn commented on #193
@stevepeak Getting Clang to work with Travis is a real pain, and then in addition, the Clang version has to match gcov, otherwise it gets really mad. For now, the best solution I had was to turn off the branch detection in the YML config.

[2016-12-09 16:06] stevepeak commented on #331
Nice call! Using `$git_root` would resolve this. Thank you for pointing this out 👍
\

[2016-12-09 16:07] #331 closed

[2016-12-09 16:08] stevepeak commented on #326
@agonzalezt great! So what did you do exactly to fix this? I would like to add a note to https://github.com/codecov/example-java about this issue. (PR welcome with ❤️ )

[2016-12-09 16:08] #326 closed

[2016-12-09 16:15] stevepeak commented on #325
Hey @anwk thank you for asking!

I do see the missing lines in the uploaded report:

[code]

I do have access to the raw uploaded reports and I'm seeing coverage metrics in a couple places, but nothing covering the lines 8-14.

[code]

[code]

Can you provide me with the lcov you are producing that shows these lines as covered?

[2016-12-09 16:15] stevepeak commented on #325
PS you can access the raw uploaded reports here: https://codecov.io/gh/wehkamp/blaze-www-site-wehkamp/commit/332ab69d/builds then click Download in the logs.

[2016-12-09 16:18] stevepeak commented on #329
Hey @HenrikBengtsson I understand the confusion here. The `>10k` is a hard limit to our backend at the moment. We only store hits up to `9999`. I'll review extending this limit to accommodate your needs 👍

[2016-12-09 16:20] stevepeak commented on #320
Woops! Looks like we do not have an F# example yet :(

Are you familiar with F#? Would you like to help us create one?

Thank you!

[2016-12-09 16:23] stevepeak commented on #311
Hey @philk sorry for the delay.

http://docs.codecov.io/docs/detecting-ci-services

You can ignore CI checking by telling Codecov exactly how many uploads there are per commit:

[code]

The above configuration will help out :)

[2016-12-09 16:25] stevepeak commented on #310
@aeyakovenko sorry for the delay.

This may be a case where the user did not grant Codecov private repository access. When they access the project in Codecov via the url above they should get a warning saying that they must grant Codecov extra permissions to view the project.

Let me know if that helps out. Thank you!

[2016-12-09 16:25] HenrikBengtsson commented on #329
But then why is there for instance 40,458 reported as is? If so, shouldn't that also be truncated? So, from my simple reverse engineering it looks like your actually truncating at 100,000 not 10,000.

[2016-12-09 16:26] stevepeak commented on #306
Hey @irvinebroque is this fixed? My apologies on the delay.

[2016-12-09 16:30] rleonid commented on #320
I haven't worked in the language for quiet a number of years; it would take me to long to provide an idiomatic example.

[2016-12-09 19:24] stevepeak commented on #287
Coming out in next release for Java, PHP and C#! Thank you 👍

[2016-12-09 19:24] #287 closed

[2016-12-09 19:28] stevepeak commented on #287
@rakhimov What language do you use Lizard on?

[2016-12-09 19:35] jasonmp85 commented on #193
Is the `gcov` `yml` configuration documented anywhere?

[2016-12-09 20:45] rakhimov commented on #287
@stevepeak I mostly use it for C++ and contribute fixes for C++ support.
Actually, @terryyin is the project owner and very responsive for interesting-(feature|language) requests.

[2016-12-09 21:12] agonzalezt commented on #326
When using an ant buildfile to build the project the java compile instruction has to activate the debug option so that Jacoco then can generate the xml with information on line level.

So you compile the source with:
[code]

And then execute the tests with coverage inspection and generate the result.xml

[code]
[code]
More info [here](http://www.eclemma.org/jacoco/trunk/doc/ant.html).

[2016-12-10 21:23] irvinebroque commented on #306
The extension overlays but I don't see coverage info on any PRs.

[2016-12-12 22:19] udryan10 commented on #278
@stevepeak any update on partial line coverage? We too are seeing this and would like for our local test coverage to match up with what codecov is reporting.

[2016-12-15 01:10] seanf opened #332 "Don't assume bash is default shell"
The codecov instructions given in various places (eg Integration Guide for a new project):

    bash <(curl -s https://codecov.io/bash)

assume that the shell _calling bash_ supports process substitution (as bash does). If the execution environment uses a plain Bourne shell (eg Jenkins, by default), this will fail with an error message like this one:

    /tmp/hudson7928614965355543336.sh: line 7:

[2016-12-15 01:15] seanf commented on #332
Where the script needs an argument (like `-t TOKEN`), this should work:

    curl -s https://codecov.io/bash | bash -s - -t TOKEN

[2016-12-16 04:24] terryyin commented on #287
Which language are we talking about here?

[2016-12-16 05:53] rakhimov commented on #287
@terryyin if you look at his supported (> 20) [languages](http://docs.codecov.io/docs/supported-languages),
most of them are imperative and some functional.
Actually, I am not sure if @stevepeak is asking because he is already using Lizard
for the upcoming 3 languages or if he's asking in general.

[2016-12-16 17:36] stevepeak commented on #306
@irvinebroque coverage is overlaying on pull requests properly. Can you help me understand more about what issue you are seeing? Can you confirm that Codecov has coverage reports for the tip of the pull request in question?

[2016-12-16 17:44] stevepeak commented on #287
@rakhimov right 👍

To be clear: PHP, Java (via Jacoco) and C# (via OpenCover) include complexity metrics in the coverage reports. Codecov will start collecting this data and show it off across the UI and pr comments.

The use of Lizard (future) is still being reviewed. The likely technique to implement would be to add Lizard to the Codecov Bash uploader, which will call lizard and upload the repor

[2016-12-28 18:56] carusology opened #333 "Codecov "External" builds are no longer links in GitLab"
Whenever we have our GitLab CI runners send codecoverage metrics to codecov.io, codecov.io adds two more "builds" to our GitLab pipeline called "External." I loved this feature! Up until recently, these builds were buttons that acted like hyperlinks that you could click, taking you to the coverage report for the build's patch or the overall project. Somewhere between GitLab release 8.14 or GitLab

[2016-12-30 08:58] LightAir opened #334 "No Codecov YAML file found on master yet."
Hey. Houston, something went wrong =)

In settings '**No Codecov YAML file found on master yet.**'

https://codecov.io/gh/LightAir/EasyCurl

https://github.com/LightAir/EasyCurl

**codecov.yml** valid.

I copyed codecov.yml to .codecov.yml, it did not help...

[2016-12-30 09:20] LightAir commented on #334
Sry. I forgot `- vendor/bin/phpunit --coverage-clover=coverage.xml`

[2016-12-30 09:20] #334 closed

[2017-01-03 14:45] kosmologist opened #335 "Broken Image for Badge"
Badge is not being displayed with the following error:
`error on line 17 at column 63: StartTag: invalid element name`

See here:
https://codecov.io/gh/kosmologist/Andromeda/branch/master/graph/badge.svg
https://github.com/kosmologist/Andromeda/blob/master/README.md

[2017-01-07 23:44] FantasticFiasco opened #336 "Error processing coverage reports"
It seems that the uploaded coverage report isn't what Codecov expects.

Everything seems fine on the Travis side of things:
[code]

But on Codecov the logs says [the following](https://codecov.io/gh/FantasticFiasco/axis-discovery-ssdp/commit/7e9d9b5260f9a66f345e5e7b8a76f371a2e4b8c8):
[code]

Is there a way for me to get more information on what I am doing wrong, what Codecov expects in terms of co

[2017-01-09 12:20] jkogara opened #337 "No Status Callbacks on Github"
As subject - I'm not getting any status callbacks from codecov -

additionally this spinner runs forever on the repo

![image](https://cloud.githubusercontent.com/assets/574876/21766364/e015e6fe-d665-11e6-8f8a-57551cdb826c.png)

I'm using circleCI, the project I'm working on is zoomer/zoomer

Thanks in advance for any help.

[2017-01-09 23:11] rwu823 commented on #244
Is it fixed? I had the same issue here. Merge commit isn't working correct.

https://circleci.com/gh/cepave-f2e/vue-owl-ui/105#usage-queue/containers/1

[2017-01-10 00:54] idiotWu opened #338 "'istanbul ignore if' triggers a partial hit"
I am using 'istanbul ignore' annotations to skip untestable statements. This works well with Istanbul but triggers partial hits with codecov:

Istanbul HTML report:
![wx20170110-095249](https://cloud.githubusercontent.com/assets/6022672/21789744/a2bb48ca-d71a-11e6-8448-b10bdee17909.png)

codecov report:
![wx20170110-095300](https://cloud.githubusercontent.com/assets/6022672/21789750/aaebe270-d71a-

[2017-01-10 19:04] #336 closed

[2017-01-10 21:41] tarlepp commented on #228
I am seeing this also now...
![image](https://cloud.githubusercontent.com/assets/595561/21825908/44dccac0-d78e-11e6-85a9-dc8b728a77dd.png)

[2017-01-11 05:16] nfm commented on #319
I think the codecov gem is also affected by this same issue: https://github.com/codecov/codecov-ruby/blob/036aed103ea1b9f1b855f3df787c39c430794209/lib/codecov.rb#L164

`https://codecov.io/gl/:orgname/:reponame/branches` is only showing `master` for us.

[2017-01-12 16:31] svlapin opened #340 "Compare URL: 404 not found when branch name contains slash (/)"
First of all I'd like to say thank you for the awesome tool!

Found smth like a small bug.
On `Compare` view I select two branches to compare, say `master` and `feature/my-awesome-feature`.
That brings me to `../compare/master...feature/my-awesome-feature` and shows 404.

If I manually escape the slash with `%2F`: `../compare/master...feature%2Fmy-awesome-feature`, everything works fine.

[2017-01-12 16:55] stevepeak commented on #340
Thank you @svlapin for the kind words 👍

This is a good issue you bring up here. The only problem I see here is that there are embedded links in the compare pages. e.g. `.../compare/base...head/src/...`. I'll need to play around with our url parser to see if we can accept the branch slashes while respecting the subsequent paths.

Thank you!

[2017-01-12 18:50] stevepeak commented on #340
Awesome! Working in next major release.

✅ `/compare/BRANCH/NAME...BRANCH/NAME/*`
✅ `/branch/BRANCH/NAME/*`
❌ `/(src|tree|list)/BRANCH/NAME` because part of the branch name would append to the source name

[2017-01-12 18:50] #340 closed

[2017-01-13 23:23] Dantemss commented on #162
This is just a guess, but maybe the service is looking at the `.codecov.yml` file in the PR commits without performing a merge, which doesn't work if the PR branch is based off of a commit that happened before that file was merged into master.

[2017-01-13 23:27] Dantemss commented on #162
Nvm, that doesn't seem to be the issue... it's still ignoring the file.

[2017-01-14 13:47] stevepeak commented on #162
This issue was resolved months ago, forgot to close the ticket. Thank you!

[2017-01-14 13:47] #162 closed

[2017-01-14 13:50] stevepeak commented on #338
Hey @idiotWu This is the first I've seen istanbul ignore. This issue is not with Codecov but with Istanbul. During the collection of coverage istanbul would be responsible for detecting the ignore.

I would suggest making a new issue at https://github.com/gotwarlost/istanbul
Thank you!

[2017-01-14 13:50] #338 closed

[2017-01-14 13:51] stevepeak commented on #337
Hey @jkogara I'm seeing recent commits are working. This issue is 99% of the time an issue with the bot user: http://docs.codecov.io/docs/team-bot

Thanks!

[2017-01-14 13:51] #337 closed

[2017-01-14 13:52] stevepeak commented on #335
Hey @kosmologist this is a known issue we are resolving shortly. It is due to coverage being `<1%`. Thank you

[2017-01-14 13:52] #335 closed

[2017-01-14 13:54] stevepeak commented on #332
@seanf Thank you for expressing this. We do have some notes in https://github.com/codecov/codecov-bash but need to include this in the app too.

[2017-01-15 09:32] idiotWu commented on #338
@stevepeak thanks for the message! I finally figured out that it was caused by the [sourcemap-istanbul-instrumenter-loader](https://www.npmjs.com/package/sourcemap-istanbul-instrumenter-loader). Due to the complexity of my workflow, I could hardly tell what was happening :(. Sorry for bothering here.

[2017-01-15 13:00] stevepeak commented on #338
No worries :) Thank you!

[2017-01-21 10:44] jcubic commented on #321
Have the same when deleting normal repo.

[2017-01-21 13:28] stevepeak commented on #321
Fixing in this weekends release. Thank you!

[2017-01-21 13:28] #321 closed

[2017-01-23 19:34] colbycheeze opened #341 "Codecov badge returns broken svg markup with <1% coverage"
I've JUST added testing framework and so this will go away eventually, but thought you guys should know that if codecov is less than 1%, it will break the badge.
Here is the returned markup (which is invalid due to the <1% inside the text tag)
[code]

[2017-01-24 15:18] GDYendell commented on #292
I needed them same thing and found this. I have used the following to make this work for me:

`find . -name "*.gcno" -exec sh -c 'touch -a "${1%.gcno}.gcda"' _ {} \;`

I do this between executing my tests and running gcov on the resulting .gcda files. All it does is search for any .gcno files without a matching .gcda file (meaning the file hasn't been executed) and creates a dummy .gcda file. gcov

[2017-01-25 00:23] fuzzylizard commented on #185
I am experiencing the same behaviour. I changed the default branch in codecov.yml and CodeCov.io has not picked up the change. This was over a week ago and there have been many commits and pushes on the new default branch.

In addition, when I initially set the default branch, it took CodeCov.io several days before it picked it up. As far as I can tell, it still hasn't picked up with token key in

[2017-01-27 21:32] stevepeak opened #342 "Worker processed died w/ rapid memory consumption"
The worker processes fail unexpectedly and do not properly exit and release memory.

[code]

Current culprits are:

1. Massive reports that consume extreme levels of memory
2. Our GitLab api request for pull commits used pagination and never stopped looping for commits. **Resolved in `v4.3.0`**
3. Massive `git diff` when comparing a single commit or a pull request

[2017-01-27 21:32] ConorIA opened #343 "GitLab repos aren't found"
I've been trying to add a GitLab-hosted project to Codecov, but the list of my repos never populates and the when I try to navigate directly to a repo, I get a 500 code. GitHub projects appear without any trouble.

![screenshot from 2017-01-27 16-29-51](https://cloud.githubusercontent.com/assets/870746/22388343/134ccc80-e4ae-11e6-8fea-d727af9e7992.png)

![screenshot from 2017-01-27 16-30-14](https

[2017-01-27 21:35] stevepeak commented on #343
Thank you for reporting this. I'll check our logs and report back asap.

[2017-01-27 21:39] stevepeak commented on #343
I don't indent on pointing fingers, but it appears GitLab API does not return a data point we had accounted for in the past. I'll fix now and deploy asap.

[2017-01-27 21:55] #343 closed

[2017-01-27 21:58] ConorIA commented on #343
Amazingly fast! Thanks @stevepeak!

[2017-01-27 22:03] ConorIA commented on #343
Different issue now. I can navigate to the repo, but as soon as I open a repo, my login session expires (or at least, I no longer appear as logged in) and am told that I need write access to access the repo token.

Clicking around shows a 401 "bad credentials" message.

[2017-01-27 22:05] stevepeak commented on #343
I'll check that out 😄

[2017-01-27 22:07] ConorIA commented on #343
I guess there were a lot of GitLab api changes in the last release, but not much documentation about them, unfortunately!

[2017-01-27 22:08] stevepeak commented on #343
We did have another issue with the Pull Commits api... the pagination broke 😦

[2017-01-27 23:13] stevepeak commented on #343
@ConorIA ugh... some significant changes to their api that we were unaware of. Working through them now.

[2017-01-27 23:27] stevepeak commented on #343
Ok @ConorIA lets give it another shot. Please let me know if you find any other API's not working.

[2017-01-30 11:58] seanf opened #344 "Document codecov.json format"
I haven't been able to find much in the way of current documentation for the codecov json format, as uploaded by Cloverage, and mentioned here: https://github.com/codecov/support/issues/106

Also, is it still possible to download the codecov.json files, as mentioned in the above issue? The API docs don't seem to mention it any more, and I can't find it in the UI.

The only references I have been a

[2017-01-30 13:09] stevepeak opened #345 "Use parent commit when pull base has `[ci skip]` in message"
Typically pulls are as follows:

[code]
Compare `A...C`. No problem.

If the base of the pull was skipped in ci via `[ci skip]` Codecov could use it's parent to compare against.

[code]

----

- [ ] add to codecov.yml as an optional configuration
- [ ] backend detect the title of the base commit, if `[ci skip]` in title then use parent to compare against

[2017-01-30 15:02] stevepeak commented on #344
Thank you for pointing this out. I'll write some docs and close this issue with the link. Thanks!

[2017-01-31 22:15] dopplershift commented on #330
ping?

[2017-02-01 12:33] stevepeak commented on #330
This issue was resolved at `2017/01/31 18:40:29 -0500 (~ 12h ago)`. Please comment back here with your findings accordingly. Thank you so much!!

[2017-02-01 12:33] #330 closed

[2017-02-01 12:35] stevepeak commented on #341
Hey @colbycheeze Latest release should have cleared this up. Can you confirm. Cheers!

[2017-02-01 12:35] #341 closed

[2017-02-01 12:39] stevepeak commented on #333
Hey @carusology Interesting issue... From what we can see the API docs did change on a number of endpoints (ugh) but the commit status are still the same.

https://docs.gitlab.com/ce/api/commits.html#post-the-build-status-to-a-commit

If you could confirm Codecov is setting the target url by checking the [Get the status of a commit](https://docs.gitlab.com/ce/api/commits.html#get-the-status-of-a-c

[2017-02-01 16:11] colbycheeze commented on #341
Cool! I'm above 1% coverage now anyhow but I'll take your word for it lol. At least nobody else will be confused by it while setting up a new proj:)

[2017-02-02 00:48] carusology commented on #333
This is actually working again sometime recently. I'm not sure exactly when, since I haven't been trying to click on it since I filed this issue. When I looked at a commit around the time that I filed this issue, the `target_url` you referenced is populated. Here's an example of what they looked like on a commit from December 29th. Based upon these symptoms, I'll guess that GitLab simply broke the

[2017-02-02 00:48] #333 closed

[2017-02-02 11:40] zurfyx commented on #186
I managed to solve it, so I thought it might as well share my solution:
The YAML filename has to be exactly `codecov.yml`, not `.codecov.yml`.

[code]

`status` removes ticks and crosses next to each commit.
`comment` is to remove pull requests coverage comments.

[2017-02-02 14:49] stevepeak commented on #333
Interesting... I wonder if other CI services with `target_url` provided failed to link during that time too. Happy to hear it's working again

[2017-02-02 21:50] gokmen opened #346 "Commenting on require_changes flag is not working as expected"
Hi,

We're currently using codecov in our repository and even though we've enabled commenting on `require_changes`[0][1] it's still commenting on every case [2]

![koding 2017-02-02 13-48-06](https://cloud.githubusercontent.com/assets/42368/22569951/55079fde-e94e-11e6-872c-e548f18ccedb.png)

[0] https://docs.codecov.io/v4.3.0/docs/pull-request-comments#section-requiring-changes
[1] https://github.

[2017-02-03 02:15] dopplershift commented on #330
Seems to work fine now. Thanks!

[2017-02-03 14:42] stevepeak commented on #346
Hey @gokmen Thank you for pointing this out. Looks like your pull changed before I could get a chance to review. My explanation would be:

Two or more files changed in coverage but offset each other resulting in a net 0 change.

The comment still posts on a net 0 change. It would **not post** when, for example, you only adjust files not tracked by Codecov.

[2017-02-03 19:59] gokmen commented on #346
Hi @stevepeak thanks for looking out, there are some other examples out there as well. https://github.com/koding/koding/pull/10487 this has no impact on coverage but we are seeing the comment https://github.com/koding/koding/pull/10487#issuecomment-277326753 . But on the other hand in this PR https://github.com/koding/koding/pull/10488 there is no comment, yet :)

Not sure what to do next :|

[2017-02-03 20:00] gokmen commented on #346
is this correct behaviour? if so how can I disable it?

[2017-02-03 20:44] tleunen opened #347 "comment report: wrong term increase"
I've noticed the comment says `increase` when it should say `decrease`.

![screen shot 2017-02-03 at 3 41 00 pm](https://cloud.githubusercontent.com/assets/1972567/22607810/8e60473e-ea27-11e6-9f31-4d37b41021b5.jpg)

[2017-02-03 22:01] hugovk opened #348 "UI: "1 Repositories" / "1 Members""
1. Add an organisation with one repo and one member
2. Visit https://codecov.io/gh

Actual result:
Says "1 Repositories" and "1 Members"
![image](https://cloud.githubusercontent.com/assets/1324225/22610219/163d0440-ea6d-11e6-840a-7678f35d7b09.png)

Expected result:
Says "1 Repository" and "1 Member"

[2017-02-05 12:54] stevepeak commented on #347
Hey @tleunen, oh so silly! Sorry about that. Fixed up.

[2017-02-05 12:54] #347 closed

[2017-02-05 12:58] #348 closed

[2017-02-05 12:58] stevepeak commented on #348
Thanks@

[2017-02-05 22:07] maleadt opened #349 ".codecov.yml ignored"
I recently renamed `codecov.yml` to `.codecov.yml` in a couple of my repos, but now the file seems ignored in one of those repo's.

* [Working](https://github.com/JuliaGPU/CUDAdrv.jl/blob/master/.codecov.yml): the [coverage](https://codecov.io/gh/JuliaGPU/CUDAdrv.jl/tree/master/src) correctly excludes the `src/utils` directory.
* [Broken](https://github.com/JuliaGPU/CUDAnative.jl/blob/master/.code

[2017-02-06 12:46] stevepeak opened #350 "Ignore whitespace in diff with ?w=1"
Add `?w=1` to disable whitespace changes in diffs

[2017-02-06 16:33] pwittchen opened #351 "How to configure codecov to stop failing PRs when coverage is decreased by the small value?"
Hi,

I'm using codecov in Android library written in Java and I have the following question:
**How to configure codecov to stop failing PRs when coverage is decreased by the small value?**

Here I have an exemplary pull request: https://github.com/pwittchen/ReactiveNetwork/pull/153.
Here's is my `codecov.yml` file: https://github.com/pwittchen/ReactiveNetwork/blob/master/codecov.yml

As you can se

[2017-02-06 17:12] stevepeak commented on #351
Hey @pwittchen checkout the `threshold` setting here: https://docs.codecov.io/docs/commit-status

[code]

Thank you!

[2017-02-06 17:12] #351 closed

[2017-02-06 18:20] pwittchen commented on #351
@stevepeak Thanks for your reply, but **I have exactly what you wrote and it does not work as I expect**.
In this line: https://github.com/pwittchen/ReactiveNetwork/blob/master/codecov.yml#L21.
What is wrong with my configuration?

[2017-02-06 19:08] stevepeak commented on #351
Can you link me to the failed commit? I'll check out logs to see if there were any issues.

PS the yaml used for the pull is the tip of the pull request.

[2017-02-06 19:10] pwittchen commented on #351
- Here's the commit: https://github.com/pwittchen/ReactiveNetwork/commit/fe7f3848d01c10b3c21264ccc9ed9ff6fb517571
- Here's the list of the commits for the feature branch `issue-151`: https://github.com/pwittchen/ReactiveNetwork/commits/issue-151
- Here's failed PR: https://github.com/pwittchen/ReactiveNetwork/pull/153

[2017-02-06 19:45] pwittchen commented on #351
Okay, I think I figured this out.

I needed to add the following configuration:

[code]

I committed this change, squashed commits and pushed them once again with force.
Now, my PR is not failed.

[2017-02-08 01:49] rakhimov opened #352 "codecov - name clash with Intel codecov"
I was confused why codecov wasn't running with the given flags;
turns out I was using a different codecov in the PATH from Intel Parallel Studio.
This is just unfortunate name clash.

[2017-02-08 11:49] Stoff81 commented on #190
This issue is still present

[2017-02-08 12:04] The-Compiler commented on #60
I'm guessing this should be deployed by now, or not? Can't see it on https://docs.codecov.io/docs/notifications FWIW.

[2017-02-08 13:13] Stoff81 commented on #190
I have to ask, why on would spaces be replaced with "+"

[2017-02-08 13:42] stevepeak commented on #190
@Stoff81 replacing a space with "+" is for internal use only. The paths in your project should remain with a space character (` `) not a `+` char. Codecov must escape the spaces for navigation reasons.

[2017-02-08 13:42] stevepeak commented on #190
This issue was resolved some time ago. I'll close it for now.

[2017-02-08 13:42] #190 closed

[2017-02-09 01:42] carusology commented on #313
Catching up on an older issue, @stevepeak.

It looks like things are no longer broken, but they are still not accurate. The 403 is gone from the logs, and it looks like you updated this to be the little CodeCov monster (cute, that one) instead of the broken image.

<img width="302" alt="missingavatar" src="https://cloud.githubusercontent.com/assets/19539318/22765498/77482330-ee25-11e6-8b33-3367bd7

[2017-02-09 08:53] eMdOS opened #353 "Is it possible to push multiple reports by targets?"
I'm developing a framework for `iOS` and `tvOS`. Locally in my Xcode project, I'm generating separated `cobertura.xml` files (one for each target, 'cause I could have different % of coverage by target).

So, I've been wondering if is possible to push multiple reports.

I'm using `Travis`, so, in my `.travis.yml` I have something like:

[code]

... but ... seems like only the first report is being

[2017-02-09 11:54] stevepeak commented on #353
Hey @eMdOS very nice job! This is perfect 👍  Can you provide me a link to the build in Codecov, I'll review the reports. Thank you!

[2017-02-09 11:54] #353 closed

[2017-02-09 14:27] stevepeak commented on #313
Thanks! Gitlab changed their avatar location. We'll look into a better option. Gravatar looks like the right fit.

[2017-02-09 14:27] #313 closed

[2017-02-09 16:48] eMdOS commented on #353
@stevepeak https://codecov.io/gh/eMdOS/Motu

[2017-02-09 16:50] stevepeak commented on #353
@eMdOS Checkout the uploads: https://codecov.io/gh/eMdOS/Motu/commit/cc107faeb3821996f4b65a85f3ceaf655119df73/build

The two reports are the same according to the uploads. This may be an issue with Slather... I'm not sure.

[2017-02-09 16:54] eMdOS commented on #353
@stevepeak is it possible to preview (in Codecov) `iOS` and `tvOS` reports separately?

[2017-02-09 17:08] eMdOS commented on #353
0_0 awesome... I'll try it... Thank you so much {^_^} .. !!

[2017-02-11 05:17] HenrikBengtsson commented on #329
FYI, this problem is still there; truncation at 100k is reported as ">10k" and not ">100k" as it should.

[2017-02-13 14:02] stevepeak commented on #352
Sorry to hear this... Not sure how to resolve it.

[2017-02-13 14:03] stevepeak commented on #349
Can you list the repos and I'll review the database cache. Thank you!

[2017-02-13 14:42] maleadt commented on #349
They are listed in my post already. Note that I have since renamed `.codecov.yml` to `codecov.yml`, which has restored coverage metrics. See the [obvious jumps](https://codecov.io/gh/JuliaGPU/CUDAnative.jl).

[2017-02-13 15:49] stevepeak commented on #349
The bash and python uploaders, at this time, are the only that can discover the yaml at `.codecov.yml` or any other location other than `codecov.yml`.  We are working to get the other uploaders up to speed on this.

[2017-02-13 16:07] stevepeak commented on #193
@jasonmp85 I'm not aware of a gcov yml. Are you looking for [codecov.yml](https://docs.codecov.io/docs/codecov-yaml)?

We will be introducing a new configuration to count partials as `hit`, `miss` or `ignore` soon.

[2017-02-13 17:11] #352 closed

[2017-02-13 17:19] pcardune opened #354 "Add pull request comments option to *just* report relative delta for changed files"
When your CI setup is really complicated, it can be tricky to get all the information in the PR comments to show up correctly, because coverage diffing isn't quite advanced enough yet.

However, one piece of information that is always accurate because it does not rely on coverage diffing is the "relative scope" coverage delta for files changed in a PR.

Specifically, if I submit a PR request that

[2017-02-13 19:28] pcardune opened #355 "Support more complex CI / test suite / partial coverage setups"
At https://github.com/code-dot-org/code-dot-org, we have _a lot_ of tests that take _a very long time_ to run. To optimize our continuous integration setup, we've had to depart from the typical behavior of smaller projects.

Some background about our codebase to guide discussion:
* we have a [mono repo](http://danluu.com/monorepo/) that is comprised of several sub projects which interface with eac

[2017-02-13 22:47] krampe opened #356 "Support for excluding from metrics but don't ignore entirely"
It would be nice if there was the ability to exclude files or folders from being included in the calculation of the overall coverage percentage but still be able to visualize information for that content in the report.  For example if you have directories that include prototype code that you don't want to count against your coverage numbers, but you still want to be able to navigate to that direct

[2017-02-14 14:58] stevepeak commented on #355
Thank you very much for this detailed issue. I'll be reviewing this in more detail and certainly follow up with questions. But here are some quick notes:

## Feature 1

This is an interesting concept. The logic seams sounds, however based on how the system works this may require some major refactoring of the code base.
We are planning some refactoring to grow the feature set and can keep this in m

[2017-02-14 15:00] stevepeak commented on #345
This issue will be resolved with #345. Therefore, marking as duplicate.

[2017-02-14 15:00] #345 closed

[2017-02-14 15:01] stevepeak commented on #354
I'll be working on this starting today. Feedback still very welcome.

[2017-02-14 15:16] stevepeak commented on #356
Thank you for your feature request. We build Flags to do just that: http://docs.codecov.io/docs/flags
With Flags you can change the commit statuses to remove your prototype code.

The "overall" coverage ratio is not able to be filtered at the moment. However, you can [ignore specific Flags](https://docs.codecov.io/docs/flags#section-hiding-builds-eg-nightly-builds) in the coverage. Here is an exam

[2017-02-14 15:16] #356 closed

[2017-02-14 15:17] #310 closed

[2017-02-14 15:18] stevepeak commented on #310
Closing due to likely user related error. Please make sure the users are logged into Codecov with private repo access: https://codecov.io/login/github?private=t

[2017-02-14 15:18] #309 closed

[2017-02-14 15:18] stevepeak commented on #309
Supported in the bash uploader. Other uploader support coming soon.

[2017-02-14 15:21] #332 closed

[2017-02-14 15:25] stevepeak commented on #308
Hey @0xced sorry for the delay and thank you for the feature request.

So what you are saying is `<ESC>[0;41m....` starts a partial miss and `<ESC>[0m` ends the partial miss? If so, that is quite easy to implement and support.

[2017-02-14 15:43] stevepeak commented on #308
@0xced could you produce an example report so I can test against it? Thank you

[2017-02-14 15:47] stevepeak commented on #283
So long as the yaml is checked into git it can be anywhere in the project under the title `.?codecov.ya?ml`. At the moment the bash uploader is required to detect these paths. Please contact support to change the path if not using the bash uploader.

[2017-02-14 15:47] #283 closed

[2017-02-14 15:57] stevepeak commented on #273
Deploying soon 👍

e.g.,
[code]

[2017-02-14 15:57] #273 closed

[2017-02-14 17:41] stevepeak commented on #319
Checking in to see if this issue is still occurring. There has been a lot of progress with the GitLab integration lately.

[2017-02-14 17:45] skirpichev opened #357 "python coverage differs from standard coverage tool"
[Here](https://codecov.io/gh/diofant/diofant/compare/e97a1ee507cc66e147d92160c5c24a5cb88eb54b...ab0543bb53bc94f1037b8ad899bd4badd87b5188/diff) is an example, see one partial hit.  Locally I see 100% with the coverage  4.3.4.

Why is this?

[2017-02-14 18:06] stevepeak commented on #357
I believe coveragepy counts partially hit branches as a full hit, not a miss (like in Codecov).

[2017-02-14 18:18] skirpichev commented on #357
Well, [coverage.py](http://coverage.readthedocs.io/en/latest/) counts partially hit branches as partial hit.  Unless there is a bug in coverage.py of course.  (I remember, that recently, ~2-4 month ago, were fixed bugs, related to wrong partial coverage of generators.)

It's not clear what's wrong here from codecov's point of view.  Any hints?)

[2017-02-14 18:53] stevepeak commented on #357
Maybe it is a coveragepy bug. Check this out:

[code]

[2017-02-14 18:55] stevepeak commented on #357
Only one upload has this

[code]

So branch at pos `100` is still missing. Which is what Codecov is reporting 👍 considered a miss as far as the coverage ratio is concerned.

[2017-02-14 19:37] skirpichev commented on #357
Oh,  my bad. Ttravis run exclude xfail'ed tests, so that branch was missed indeed.  Now I see problem in local run.  Nothing wrong with codecov.  Thank you for your time.

However, line 100 - was excluded from coverage with "pragma: no cover".  In this case - one shouldn't influence on coverage hit/misses at all.  But even if I rephrase branches as
[code]
I still get partial hit on elif.  Probably

[2017-02-14 19:37] #357 closed

[2017-02-14 19:52] skirpichev commented on #357
Indeed, with coverage 3.7.1 - I don't have partial hits.

[2017-02-14 22:28] damianszczepanik opened #358 "The diff coverage is 100%"
If the code coverage is same after and before change, Codecov reports that the diff is 100% which it should print 0%

https://github.com/damianszczepanik/cucumber-reporting/pull/603

[2017-02-15 03:00] jasonmp85 commented on #193
No, I meant the configuration options hierarchically located beneath the `gcov` node inside of `codecov.yml` (such as the changes where you referenced this issue earlier in the thread). `branch_detection`, etc. It's clear there are some configuration options that can appear nested under a `gcov` node but I didn't remember seeing them documented when I wrote that comment.

[2017-02-16 22:23] nfm commented on #319
@stevepeak I can confirm this is still happening. The current `master` commit for `codecov-ruby` is referencing the wrong environment variable value here: https://github.com/codecov/codecov-ruby/blob/f07d1dce427302edd560d2d86d4a87d95c779f83/lib/codecov.rb#L164

Here is [our fork](https://github.com/usabilityhub/codecov-ruby/tree/fix-gitlab-ci-detection), where the `fix-gitlab-ci-detection` branch

[2017-02-17 20:08] nelson-liu opened #359 "Patch / Project Status Checks Not Displaying"
Hi,
I'm trying to turn on the patch and project coverage status checks on my repo (see: https://github.com/allenai/deep_qa/pull/208), but it doesn't seem like they are appearing. I thought they were actually enabled by default -- am I missing a switch I need to flip in the web UI?

Thanks!

[2017-02-17 20:25] stevepeak commented on #359
Looks like there are 404's on the posting the status: https://codecov.io/gh/allenai/deep_qa/commits/00cc3fd2821ae8380e6c72c162f28d9913ab5a26/build

Please checkout http://docs.codecov.io/docs/team-bot to resolve 👍 Thank you

[2017-02-17 20:25] #359 closed

[2017-02-18 15:58] wilzbach opened #360 "Support PRs that get merged with upstream/master"
At the `dlang` organization [we merge the PR into `upstream/{master,stable}`](https://github.com/dlang/phobos/blob/master/circleci.sh#L68).

For example for [this PR](https://github.com/dlang/phobos/pull/5036) this would atm generate this merge commit:

[code]

However now the generated `.lst` files from test suite are different and thus this results in
- line-shifted coverage annotation for diffs

[2017-02-18 19:44] stevepeak commented on #344
Here we go https://docs.codecov.io/reference#upload

Specifically: https://docs.codecov.io/reference#section-codecov-json-report-format

[2017-02-18 19:44] #344 closed

[2017-02-19 12:03] seanf commented on #344
Great, thank you!

@stevepeak is it still possible to download the json files after they have been uploaded?

[2017-02-19 14:49] stevepeak commented on #344
Yes, you can download the raw uploaded reports and the codecov resulting report.

For the full report, you will need to use `?src=extension` for the time being to get the full contents.

[code]

[2017-02-20 09:03] alessandrojp commented on #163
I had the issue today.
In my case it was because I did `git push -f` in my pull request overriding the last commit reported on codecov. Once you do that, there is no commit any more to be compared and it will show the error `No report found to compare against.`

I fixed it sending a coverage report again as suggested here https://github.com/codecov/support/issues/163#issuecomment-216084472

[2017-02-21 13:24] thornbill commented on #319
I agree it seems checking `GITLAB_CI` would be the best option to detect if it is being run via Gitlab CI. I have an open [pull request](https://github.com/codecov/codecov-node/pull/37/files) for the NodeJS tool to do just that.

[2017-02-21 14:03] stevepeak commented on #319
Thank you all for your patience. Deploying this patch today.

[2017-02-21 14:03] #319 closed

[2017-02-21 18:00] stevepeak commented on #308
@0xced would you like to beta this?

[code]

[2017-02-21 18:02] #308 closed

[2017-02-21 23:08] acima opened #361 "Add patch size test in addition to pct coverage"
For small patches, per cent coverage is too gross a measure.  A patch of one line requires 100% test coverage always.  Your already have the size of the patch, it should be easy to say  'patch coverage > 80% or patch size < 8 lines'

[2017-02-22 01:36] stevepeak commented on #361
Would this work:

[code]

[2017-02-23 20:42] stevepeak commented on #360
@wilzbach thank you for the feature request.

I have a quick question before diving into this. What value(s) would you set `parent_ref` to? Perhaps this is something we can automatically detect.

There are other customers asking about comparing commits. Perhaps they are related to your question.

[2017-02-23 20:45] stevepeak commented on #358
Hey @damianszczepanik I believe the value is correct. The 100% is based on the `1/1` lines changed and covered.
<img width="447" alt="screen shot 2017-02-23 at 3 44 20 pm" src="https://cloud.githubusercontent.com/assets/2041757/23278319/0fffe06c-f9df-11e6-9ee8-f1565cfb5fbf.png">

[2017-02-23 20:47] stevepeak commented on #355
@pcardune first step would be flagging these uploads http://docs.codecov.io/docs/flags

I would like to see if adding Flags changes your approach to this issue. Thank you!

[2017-02-23 20:48] stevepeak commented on #307
Hey @0xced sorry for the delay. Indeed the object is not user friendly. We are building out an API v2 that will change the structure of the totals object.

Meanwhile, I'll take a look into all our endpoints to make sure they write out as json objects and not lists.

[2017-02-23 20:56] stevepeak commented on #346
Hey @gokmen Have you seen this come up again?

Codecov will post the comment in the rare case when coverage is `net 0 change` because of two or more files offsetting each other. If this happens it is important to show the developer which files changed coverage. However, I expect this to be a rare event.

[2017-02-23 20:57] damianszczepanik commented on #358
It is correct but it suggest that it was 0 and becomes 100 or the opposite. This is how you present the value, not how you count it

[2017-02-23 21:00] stevepeak commented on #354
@pcardune I believe this is working now. However, if `require_changes=True` the comment would not post with a missing base report.

[2017-02-23 21:04] stevepeak commented on #358
I'm confused. The line 82 was the only line tracked by coverage and it was hit. Therefore `1/1` lines hit == `100%`.

"Diff coverage" does not concern the past coverage state. It only checks lines adjusted and their current state.

I believe you are looking for another metic here, unless I'm mistaken.

[2017-02-23 21:11] stevepeak commented on #342
This occurs when processing XML documents that are over 75mb in size.

[2017-02-23 21:13] stevepeak opened #362 "Optimize XML to iter nodes"
Pythons XML etree has memory consumption issues when processing reports of over `50MB` in size.

We will be changing the xml parsers to iter over xml nodes which will fix #342

[2017-02-23 21:13] stevepeak commented on #342
See #362

[2017-02-23 21:13] #342 closed

[2017-02-23 21:15] stevepeak commented on #324
Closing issue, but welcome new information is there are unresolved issues.

[2017-02-23 21:15] #324 closed

[2017-02-23 21:16] stevepeak commented on #320
Removed the F# link. Awaiting community help to create example.

[2017-02-23 21:16] #320 closed

[2017-02-23 21:26] stevepeak commented on #316
@cloutiertyler How is this looking? Sorry for the delay. Closing because [this looks](https://codecov.io/gh/SwiftOnEdge/Edge) nice 👍

[2017-02-23 21:26] #316 closed

[2017-02-23 21:28] stevepeak commented on #292
@GDYendell awesome find! Perhaps we should add this to our bash uploader as a default. Thoughts?

[2017-02-23 21:29] stevepeak commented on #291
We have a delete commit endpoint now: https://docs.codecov.io/v4.3.0/reference#section-delete-a-commit

Thank you!

[2017-02-23 21:29] #291 closed

[2017-02-23 21:31] stevepeak commented on #278
Hey friends, I'm ready to reinvestigate Go reporting. We will be open sourcing our coverage processing agents soon and can work together to get this working 💯

[2017-02-23 21:32] stevepeak commented on #271
Belated close. Fixed and deployed.

[2017-02-23 21:32] #271 closed

[2017-02-23 21:32] #266 closed

[2017-02-23 21:42] stevepeak commented on #289
Lines are removed from the charts in new releases. Thank you!

[2017-02-23 21:42] #289 closed

[2017-02-23 21:43] stevepeak commented on #294
Assumed fixed. Thank you

[2017-02-23 21:43] #294 closed

[2017-02-23 21:44] stevepeak commented on #191
Closing - fixed in newer versions. Thanks

[2017-02-23 21:44] #191 closed

[2017-02-23 22:01] gokmen commented on #346
@stevepeak yes it kept happening since we disabled commenting with https://github.com/koding/koding/pull/10513 if you want me to try it out I can re-enable it.

[2017-02-23 22:05] pcardune commented on #354
@stevepeak how do I enable it in the `codecov.yml` config?

[2017-02-24 19:41] stevepeak opened #363 "Use parent commit when base not found"
Impacted pull requests are those that fork from a commit not tested in CI. Examples:

# Example 1
[code]

[code]

----

- [x] store the real base commit and the new comparison commit
- [x] continue to use `mc...b` for the pull request diff, however use the new compared to commit for comparing metrics
- [x] inform the end user that the base commit used to compare is not the "read" pull request base

[2017-02-24 19:45] stevepeak commented on #363
@pcardune I believe you asked about this.

[2017-02-24 22:08] cloutiertyler commented on #316
Yep, I was able to resolve this problem, although I can't remember what the fix was. Thanks for the help though!

[2017-02-25 14:03] stevepeak commented on #363
## New rules

1. **ALWAYS** use the pull base commit if report exists
2. **CAN** use base commit's parent  if base commit has no report
[code]

[code]

[2017-02-25 20:15] stevepeak commented on #363
Would you like to beta this? Ping us in Slack leaving a message in this format:

[code]

Thank you!

[2017-02-26 09:20] wilzbach commented on #360
Yep, that would be even better. Getting the list of all parents is quite easy:

[code]

But then it gets a bit tricky as you could also be testing a "normal merge commit", so for us being able to specify `parent_ref` manually would already be pretty awesome.

FWIW for a simple two-way merge, `git rev-list` would look like this:

[code]

However there can also be [octopus merges](https://www.destro

[2017-02-26 14:13] stevepeak commented on #363
Deployed. Awaiting feedback and beta.

[2017-02-26 16:33] stevepeak commented on #360
I believe issue #363 is a fix. Can you review that issue and request the beta on it. Thanks!

[2017-02-26 18:24] junghans opened #364 "Documentation coverage"
It would be nice if you guys could analyze the documentation coverage as well.

Along the lines what [doxy-coverage.py](https://github.com/alobbs/doxy-coverage/blob/master/doxy-coverage.py) pull out of doxygen's xml output.

[2017-02-26 19:28] stevepeak commented on #364
Hey @junghans this is really cool! We have plans to open up codecov to be pluggable and this would be an awesome tool to add.

[2017-02-26 19:29] stevepeak commented on #346
@gokmen if you could enable again I would appreciate it. I wish to get to the bottom of this quickly if issues persist.

[2017-02-26 19:38] stevepeak commented on #364
On second thought. This could be implemented quicker. Can you generate an xml or json report for your documentation coverage?

[2017-02-26 19:40] junghans commented on #364
@stevepeak, we are doing doxygen coverage combination codecov [here](https://github.com/laristra/flecsi/blob/master/docker/Dockerfile#L50), however the [output](https://travis-ci.org/laristra/flecsi/jobs/205326017#L1911) isn't very nice!

[2017-02-26 19:42] stevepeak commented on #364
The output would have to be in a format that expresses `line_number: coverage` data per file.

Sounds like a pull request to doxy is in order. 👍

[2017-02-26 19:43] stevepeak commented on #364
Here is Codecov json format that you can use: https://docs.codecov.io/v4.3.0/reference#section-codecov-json-report-format

[2017-02-26 22:47] 0xced commented on #308
It did not work, I opened https://github.com/codecov/codecov-bash/pull/60 to address one issue I found.

[2017-02-27 00:34] 0xced commented on #308
Even after fixing the [-use-color error](https://github.com/0xced/codecov-bash/commit/629b78aeb90bcaa6741dc97ed5c3daff8b63548e) (and [a small modification](https://github.com/0xced/codecov-bash/commit/ab6bec11466248315260cda9c2d7d77b6e2c03b0)), partial coverage is not working. Codecov reports [this error](https://codecov.io/gh/0xced/XCDYouTubeKit/commit/793ea425a7f303b7e3088f510e9e5c9a589a525d):

[2017-02-27 01:04] junghans commented on #364
Ok, I think I got [it](https://travis-ci.org/laristra/flecsi/jobs/205617926#L1947): laristra/flecsi@5a4470419156e810f6b320c950e1a237f92cc5c8. Where is the report stored?

[2017-02-27 16:31] stevepeak commented on #364
Reports are uploaded to Codecov and archived from there. https://codecov.io/gh/laristra/flecsi/commit/5a4470419156e810f6b320c950e1a237f92cc5c8/build

[code]

This format is new to us. But I can add a server side parser quickly to add support.

[2017-02-27 16:40] junghans commented on #364
That would be nice if you could do it server-sided.

I seems [coverxygen](https://github.com/psycofdj/coverxygen) is generating lcov output, which could be useful long term as an intermediate format for other coverage tools.

On the other hand, @psycofdj might have an easy way to implement out in the [this format](https://docs.codecov.io/v4.3.0/reference#section-codecov-json-report-format), too.

[2017-02-27 16:57] stevepeak commented on #364
It's no problem, I'm almost done with adding it 👍

[2017-02-27 17:14] psycofdj commented on #364
I'll be glad to help by implementing new formats in [coverxygen](https://github.com/psycofdj/coverxygen). Feel free to open an issue.

[2017-02-27 17:16] stevepeak commented on #364
Codecov already supports lcov among many other coverage report formats. It would be better to add an already accepted format, like lcov.

Can you already export as lcov?

[2017-02-27 17:19] psycofdj commented on #364
Default output format is lcov tracefiles

[2017-02-27 17:53] junghans commented on #364
@stevepeak, is it done? Should I try and push another documentation coverage build?

[2017-02-27 18:01] stevepeak commented on #364
@junghans I did not deploy the parser for the json results. If you can get the results in lcov it will work immediately.

[2017-02-27 22:12] gokmen commented on #346
done @stevepeak I'll let you know if it happens again.

[2017-02-27 22:56] stevepeak commented on #354
This feature is the default configuration. Just as long as your comment is enabled it will be in effect. Thank you!

[2017-02-28 05:11] mpgo13 commented on #325
Hey, I have a similiar situation here. I'm testing a facebook react component and get 100% coverage by lcov-report while i get only 21.42% for the same file on codecov.io.

I also downloaded the raw report from codecov and did a generate local by `genhtml` which gave me the same 100% as the local file. The lcov-report shows me `6 statements, 2 functions, 25 branches Ignored`, which might be relate

[2017-02-28 05:23] mpgo13 commented on #325
Here is my reduced testcase as reported on codecov.io:
![screen shot 2017-02-28 at 4 16 21 pm](https://cloud.githubusercontent.com/assets/1078584/23392715/c5be0992-fdd1-11e6-8b19-263df64fa672.png)

And here the report from lcov-report (same lcov.info):
<img width="970" alt="screen shot 2017-02-28 at 4 22 46 pm" src="https://cloud.githubusercontent.com/assets/1078584/23392794/3c423232-fdd2-11e6-9d4

[2017-02-28 08:10] anwk commented on #325
Thank you for replays!
Unfortunately I have no more access to that codebase where this problem was caused.

[2017-02-28 14:17] stevepeak commented on #363
Beta closed and feature deployed 👍

[2017-02-28 14:17] #363 closed

[2017-02-28 19:18] gokmen commented on #346
hi @stevepeak I'm seeing https://github.com/koding/koding/pull/10660#issuecomment-282977342

[2017-03-01 16:34] junghans commented on #364
Ok, I did:
[code]
and Codecov seems to take [it](https://travis-ci.org/laristra/flecsi/jobs/206624960#L1230), but where would I see the numbers for it?

[2017-03-02 08:44] nschloe opened #365 "be less intrusive on GitHub PRs"
Whenever I submit a PR to a GitHub repo (also my own), codecov will post a sophisticated reply with all sorts of coverage stats. This is in contrast to all other services I use (e.g., travis) which just post their updated in the merge info field.
![mergeinfo](https://cloud.githubusercontent.com/assets/181628/23499511/b8426f18-ff2c-11e6-8023-af6b9c84bf8b.png)
I would like to see the same thing for

[2017-03-02 13:29] stevepeak commented on #365
@nschloe we do post commit statuses: https://docs.codecov.io/docs/commit-status

Can you provide a commit in Codecov that did not post the statuses.

Thank you,
Steve

[2017-03-02 15:22] thornbill commented on #319
This has not been corrected for `codecov-node`. Could someone take a look at my [pull request](https://github.com/codecov/codecov-node/pull/37) to fix it there? Thanks!

[2017-03-02 19:59] stevepeak commented on #364
@junghans issue is lack of file structure included in the upload:

[code]
Can you call Codecov like this instead:

[code]

[2017-03-04 13:52] stevepeak opened #366 "Flags with no uploads can use global data"
### Issue
If no upload was flagged via `-F foobar` than `#foobar` is empty.

[code]

### Current Policy
**IF** uploads to `-F foobar` **THEN** only use that report data for `#foobar`.

### New Policy
**IF** no uploads to `-F foobar` **THEN** use all report data to generate `#foobar`.

[2017-03-06 20:34] nschloe commented on #365
Thanks @stevepeak for the speedy reply.

You're right of course. What I try to do is get rid of the lengthy replies such as https://github.com/nschloe/voropy/pull/11#issuecomment-284519580.

[2017-03-08 20:47] junghans commented on #364
Nice, I got it working [now](https://travis-ci.org/laristra/flecsi/jobs/208783568#L1240).

Is there are a way to see the coverage for `documentation` independently of the `gcov` coverage, (generated for the same git sha, in different travis build) in the web interface?

[2017-03-09 06:00] afc163 opened #367 "Default branch is wrong"
`develop-1.0.0` is not existed.

https://codecov.io/gh/ant-design/ant-design

<img width="576" alt="image" src="https://cloud.githubusercontent.com/assets/507615/23737870/a9cadab6-04d0-11e7-8e3c-3cc97b8bb9d0.png">

https://codecov.io/gh/ant-design/ant-design/branch/master

<img width="572" alt="image" src="https://cloud.githubusercontent.com/assets/507615/23737888/c8f3d974-04d0-11e7-8568-d6d36db4b

[2017-03-09 13:55] angeloocana opened #368 "I copied and pasted the codecov token into another project and now can't fix it"
I used this project:
https://github.com/polutz/ptz-user-domain
as a starter point to:
https://github.com/polutz/ptz-user-graphql

And i forgot to get a new token for ptz-user-graphql,
and now the ptz-user-domain keeps showing the ptz-user-graphql code in codecov.

What can i do?
Please help me!

[2017-03-09 14:04] stevepeak commented on #368
Hey! Did you change the token so that new uploads go to the right project?

I'm unclear what action you would like us to take on the older commits.

Thank you,
Steve

[2017-03-09 14:08] stevepeak commented on #364
When using Flags you can accomplish this in various ways. What specifically are you looking for? Statuses, badges, graphs, source overlay?

[2017-03-09 15:45] angeloocana commented on #368
Thanks steve for the quick reply!
Yes, I fixed the tokens, but the code on codecov did not change =/

This page keeps showing the code from the other project:
https://codecov.io/gh/polutz/ptz-user-domain/tree/master/dist
and a message: 'Unable to retrieve commit from GitHub API.'

What should i do?
I tried deleting the repo from codecov, but it comes back in the same way.

[2017-03-09 15:46] angeloocana commented on #368
NOW IT'S WORKING!!!
I dont know why, but thank you!!!

[2017-03-09 15:46] #368 closed

[2017-03-09 15:47] stevepeak commented on #368
Oh, cool! 👍 Happy to help out!

[2017-03-09 16:39] junghans commented on #364
Basically I would like to see the source overlay for the `documentation` tag only.

[2017-03-09 16:45] stevepeak commented on #364
You can toggle Flags in the UI (top right corner of the source page). https://cl.ly/2z1b3g3T3N1r

When you have more than one Flag it works better 👍

[2017-03-10 02:53] #367 closed

[2017-03-10 09:35] richardsimko opened #369 "Only users with create repo permissions are considered members of teams on Bitbucket"
Not sure if this bug is on your end or on Bitbucket so I'll start here.

We have a bot user that's a member of our team, however it does not have permissions to create repositories for the team (Since we have no need for the bot doing that). This results in Codecov not seeing the bot as a member and me not being allowed to add it as the bot user for our team on Codecov. As soon as I change the per

[2017-03-10 13:46] stevepeak commented on #369
Hey @richardsimko Happy to help out! It can check the details in Codecov database to see whats missing. What is the team username and the bot username?

[2017-03-10 13:49] richardsimko commented on #369
Hey @stevepeak I changed the permissions to make it work but I can change it back temporarily. The team is refinedwikiteam and the bot user is bamboo-refinedwiki.

[2017-03-10 13:54] stevepeak commented on #369
According to our records the user ` bamboo-refinedwiki` is not a member of the team `refinedwikiteam`.

[2017-03-10 13:55] richardsimko commented on #369
I guess it's a bug in Bitbucket then since as you can see here that's not the case https://bitbucket.org/refinedwikiteam/profile/members (The user's display name is Byggis).

[2017-03-10 13:56] stevepeak commented on #369
Can you log back into to Codecov with this user and click "sync teams" at https://codecov.io/bb

[2017-03-10 20:59] richardsimko commented on #369
I did that already but I'm afraid it didn't help

[2017-03-10 21:20] jayvdb opened #370 "Support GitLab without token"
A token is required for GitLab CI.
Checked on codecov-python and codecov-bash.

What is needed to have GitLab CI supported without a token, like Travis CI, Appveyor CI and CircleCI?
https://docs.codecov.io/docs/about-the-codecov-bash-uploader#section-upload-token

It would be good to have documentation about what feature codecov needs to support token-less uploads, so we can pressure CI providers

[2017-03-11 15:19] stevepeak commented on #355
[code]

## Description
[code]

## Keep in mind
- respect `flags.<>.paths`
- flags may not upload and use global data #366

-----

@pcardune could you mock up your yaml using assumed metrics?

[2017-03-12 20:22] BBonifield commented on #355
The above proposed solution sounds perfect to me.  The only additional bit of configuration that might be useful would be to have the `assumed` flag have whitelist or blacklist branches.  For instance, you might only want to assume coverage on PRs whereas you would expect all `master` builds to provide full coverage.  That being said, that configurability isn't important to us.  It'd just be a nic

[2017-03-12 20:32] stevepeak commented on #355
@BBonifield Very nice feedback 👍 If you do not mind: provide an example yaml with this `assumption` concept.

Your suggested changes would look like.
[code]

[2017-03-13 02:59] wettenhj opened #371 ""View CI Build" link for AppVeyor seems to use incorrect URL"
The "View CI Build" link for AppVeyor seems to use $APPVEYOR_REPO_NAME for the slug, instead of $APPVEYOR_ACCOUNT_NAME/$APPVEYOR_PROJECT_SLUG, as described here: https://github.com/codecov/support/issues/44#issuecomment-115744742

[2017-03-13 09:23] AxelNennker commented on #135
I just did a first-time commit to a project and changed just the readme.md.
https://github.com/openid/AppAuth-Android/pull/191
Codecov now shows a failed test: https://codecov.io/gh/openid/AppAuth-Android/compare/29329dce430edebdc80e9635895358e20971f286...621e09303e9d8a07b0ca0c8699c69368168ba1f8

Why?

[2017-03-13 14:27] MonkAlex commented on #79
And where config? Dont see it =(

[2017-03-13 17:38] BBonifield commented on #355
@stevepeak I actually think the inverse might be the more useful one:

[code]

I imagine it'd work like:

[code]

[2017-03-13 17:46] stevepeak commented on #355
@BBonifield Awesome feedback!

`except_branches=master` would be equivalent to `branches=!master`

[code]

Thoughts?

[2017-03-13 17:47] BBonifield commented on #355
@stevepeak Makes perfect sense to me!

[2017-03-14 14:31] nschloe commented on #365
A screenshot of my GitHub landing page. The codecov spam hides the interesting information.

![sp](https://cloud.githubusercontent.com/assets/181628/23905372/2280b7f2-08cb-11e7-8dc4-c986cb30c446.png)

[2017-03-14 14:41] stevepeak commented on #365
Sorry, but this is out of our control. This feed is presented by GitHub.

Posting a comment will:
1. email all subscribers of the comment
2. add item to landing page

Both those items are out of our control. If we could adjust the settings we would give you that option. Sorry ☹️  but this is best presented to GH staff as a feature request. (This is a daily support question).

[2017-03-14 14:41] #365 closed

[2017-03-14 14:45] nschloe commented on #365
@stevepeak It's right that posting a comment will trigger all these actions. That's why I would like to turn off the comments and just have the statuses.

[2017-03-14 15:10] stevepeak commented on #365
[code]

[2017-03-14 15:29] nschloe commented on #365
Perfect.

[2017-03-15 10:48] allenwq opened #372 "Create flags when using codecov-node or codecov-ruby"
Seems this is no API to create flags if we are using codecov-node or codecov-ruby ?

Then i need to use the bash uploader, but the issue of bash uploader is that it treats comments (ruby) as not covered code.

Any ideas ? Thanks in advance !

[2017-03-15 18:02] junghans commented on #364
It works now, thanks!

[2017-03-15 18:02] #364 closed

[2017-03-17 13:12] stevepeak commented on #366
Working on this through the weekend. Any last words? 😃  👍

[2017-03-17 13:13] stevepeak commented on #355
I'll be working on this during the weekend. Any other feedback before I dive into it? Meet me in [Slack](slack.codecov.io) to test and beta. Thank you!

[2017-03-17 13:16] stevepeak commented on #307
In an upcoming release we are fixing the output of totals to be an object.

[code]

[2017-03-17 13:39] stevepeak commented on #372
Hey! You can use the environment variables to include flags in **Ruby**.

[code]

Thank you,
Steve

[2017-03-17 13:39] #372 closed

[2017-03-17 14:03] allenwq commented on #372
@stevepeak Thanks for confirming !

I know the ruby one by reading the source :(

Hope node one will come soon.

[2017-03-18 15:49] #307 closed

[2017-03-19 14:39] #366 closed

[2017-03-20 14:47] stevepeak commented on #366
Deploying in `v4.4`. Thank you

[2017-03-20 19:25] nealrichardson opened #373 ""<1%" invalid SVG in badge"
I'm trying to encourage a new R package developer to write tests, so I've set up the codecov integration for his Github repository. Unfortunately, the only thing his test suite does at the moment is load the package, so only 1 line of code is covered. (Sad!) I want him to see this, but unfortunately the SVG badge doesn't load: https://codecov.io/gh/Crunch-io/crunchtabs/branch/master/graph/badge.sv

[2017-03-22 07:08] richardsimko commented on #369
@stevepeak Did you figure this one out or is it a bug in the Bitbucket API?

[2017-03-22 22:36] adam-arold opened #374 "Coverage using gradle with kotlin is not working."
I followed the following guide to the letter:
https://github.com/codecov/example-gradle
and used this config:
[code]

[2017-03-24 13:05] 0xced commented on #307
Is there a beta API endpoint available? Also, the [documentation](https://docs.codecov.io/reference#totals) is still referencing the old format.

[2017-03-25 08:27] skirpichev opened #375 "Totally wrong coverage view on master"
Take look on [this](https://codecov.io/gh/diofant/diofant/src/master/diofant/functions/special/gamma_functions.py), for example.  Here lines of some docstrings are marked as uncovered(red), e.g. [L53](https://codecov.io/gh/diofant/diofant/src/master/diofant/functions/special/gamma_functions.py#L53).  Or some [blank lines](https://codecov.io/gh/diofant/diofant/src/master/diofant/functions/special/g

[2017-03-25 13:36] stevepeak commented on #375
@skirpichev according to the coverage reports: Codecov is accurate

[code]

https://codecov.s3.amazonaws.com/v4/raw/2017-03-25/4423A5DE0B6C709E72AD9ECEBF4644F4/58b068a88f0c0b7219c5a0096896cf13a8e90397/774ff7e5-83e6-4add-8728-1fa14655c772.txt

[2017-03-25 13:45] skirpichev commented on #375
@stevepeak, I'm not looking on raw data.  Please examine the html reports, referenced above.  For instance, below is a screenshot for L53 link:
![1](https://cloud.githubusercontent.com/assets/2155800/24322681/acce29b6-1182-11e7-8c76-587d0913782b.png)

[2017-03-25 14:02] stevepeak commented on #375
@skirpichev Checking it out. Thank you

[2017-03-25 14:29] stevepeak commented on #375
Ok. Figured it out. Deploying fix now. Thank you!!!

Thank you so much for your patience and help.

[2017-03-25 14:29] #375 closed

[2017-03-25 14:39] stevepeak commented on #375
Fixed 👍

[2017-03-25 14:48] skirpichev commented on #375
@stevepeak, thank you!

[2017-03-26 19:59] hugovk opened #376 ""View CI Build" link for Travis CI uses incorrect URL"
For example:
1. Visit https://codecov.io/gh/hugovk/Pillow/commit/318b5aead9d979e7b314e0e517a7638a8fbe889e/builds
2. Click a "View CI Build"

Actual result:
* Takes you to a 404 page: "There was an error while loading data." at https://travis-ci.org/hugovk/Pillow/builds/1222.12

Expected result:
* Takes you to the real page: https://travis-ci.org/hugovk/Pillow/jobs/215280686

Travis CI uses what lo

[2017-03-28 22:11] janpaul123 opened #377 "Running tests in subdirectory"
Hi! At @remix we have a monorepo (remix/remix), with multiple directories that have their own test runners. Is there a way to specify the subdirectory/path when uploading coverage reports? Right now all files show up in Codecov as if they were in the root of the repo instead of in a subdirectory.

Combined with flags and hopefully soon https://github.com/codecov/support/issues/355 this would make

[2017-03-30 14:03] stevepeak commented on #377
Hey @janpaul123 I believe I got you in Intercom, right? Did the targeting uploading work?

[2017-03-30 20:01] janpaul123 commented on #377
Yeah, that's possible, I don't quite remember. What do you mean by "targeting uploading" exactly? See https://codecov.io/gh/remix/remix/pull/22 for the PR in which I try to fix Codecov.

[2017-03-31 20:31] aliciawyy opened #378 "coverage report in codecov untracks files with same name but in different subdirectories"
Hi,

I have this problem since this evening, it seems that all the files with same name but exist in different subdirectories suddenly become _untracked_ files on codecov, the the total line number of projects also decreased because of this.

Is this one of the features you added recently ?

Another issue is that now all the commits of the project has the name of default branch, no matter what its

[2017-03-31 22:23] daniilr commented on #378
+1 for me

[2017-04-01 10:37] LebedevRI opened #379 "Notifications: IRC: documentation is missing?"
Continuation of #60
https://github.com/codecov/support/issues/60#issuecomment-165982817 says that it should be deployed by now.
But https://docs.codecov.io/docs/notifications does not say anything about IRC

[2017-04-03 14:26] eman6576 opened #380 "Pulling reports from Xcode project not working."
Hi,

I noticed when generating builds and sending code coverage reports for Xcode projects, It does not pull the correct reports for the app project. It instead pulls the coverage of Pods used from CocoaPods. For our CI, we use Bitrise that has a Codecov step. The step doesn't allow for a  codecov.yml file but it allows for options. In the options, I specified `-J 'BaseAppV2'` to omit the Pods but

[2017-04-03 15:03] stevepeak commented on #380
Interesting. So the `-J` is for llvm-cov and not gcov. From what I see in your screenshot the gcov process is running.

What does the full output of the build look like?

[2017-04-03 15:11] eman6576 commented on #380
_____          _
 / ____|        | |
| |     ___   __| | ___  ___ _____   __
| |    / _ \ / _` |/ _ \/ __/ _ \ \ / /
| |___| (_) | (_| |  __/ (_| (_) \ V /
 \_____\___/ \__,_|\___|\___\___/ \_/
                              Bash-d642346

[0;90m==>[0m Bitrise CI detected.
    [0;90mproject root:[0m .
[0;90m-->[0m token set from env
    [0;32mYaml not found, that's ok! Learn more at[0m [0;3

[2017-04-03 15:50] stevepeak commented on #380
Yea, these are all gcov related. So `-J` is of no use here.

I would suggest adding a `codecov.yml` to ignore the Pods.

[code]

[2017-04-03 15:55] eman6576 commented on #380
Is there a way to not use gcov?

[2017-04-03 15:58] stevepeak commented on #380
llvm-cov is used for Swift projects and gcov is used for Obj-C.

What other cli would you use?

[2017-04-03 16:00] eman6576 commented on #380
I am wondering why gcov is being run and not llvm-cov? Could it be these flags being set:
[code]
and not this one being set:
[code]

[2017-04-03 16:32] devurandom opened #381 "site/docs.md is actually HTML"
site/docs.md is actually not MarkDown code, but HTML. And it is rendered with severe formatting when viewed here on GitHub.

[2017-04-03 18:11] eman6576 commented on #380
Does having a project using both Swift and Objective-C affect anything?

[2017-04-04 06:05] e911miri commented on #298
Hi @jkoritzinsky, how were you able to generate the coverage.zip?

[2017-04-04 13:29] stevepeak commented on #298
Hey! I believe this is all set and ready for processing. Can you upload reports to verify it is working for your project?

[2017-04-04 13:32] e911miri commented on #298
Hi @stevepeak I currently use sharpCover. The coverage report I get is a txt file. Very similar to the one generated by running the default sharpCover recipe
[coverageResults.txt](https://github.com/codecov/support/files/893281/coverageResults.txt)

[2017-04-04 14:09] stevepeak commented on #298
@e911miri SharpCover can produce an XML file. Are you able to find that?

[2017-04-04 14:34] e911miri commented on #298
How? I have been trying to do this... can you point me at someone who has achieved this, cos what I get here is a txt file. I looked through the code, and I see how the txt is being generated

[2017-04-04 15:37] e911miri commented on #298
@stevepeak The xml I see generated during sharpCover's run are test results snd not code coverage. Are those the same xmls you are referring to?

[2017-04-04 16:44] e911miri commented on #298
[This](https://github.com/codecov/example-csharp-sharpcover/blob/master/Makefile#L17-L21) generates two files:
1. A coverage `.txt` file
2. A TestResult.xml file

vstest generates the coverage report as xml which can then be uploaded to codecov.
Do you know anyone who has gotten coverage to work this way using codecov?

[2017-04-05 18:07] eman6576 commented on #380
Could I also specify the path of the report?

[2017-04-06 12:51] javierfernandes opened #382 ""CI Failed" false negative with wercker CI"
Hi guys !

We have an issue in the integration between GH + CodeCov + Wercker.
When building a PR Wercker built fine, but codecov integration with GH tells us that the build failed because of "CI Failed".

Here is the sample commit

https://codecov.io/gh/SCVLabs/nes-backend/commit/0ec2a0c076270e1b9b0da6a780374d0f7dbffbf8/builds

A screenshot in case you cannot see it

![image](https://cloud.github

[2017-04-06 13:01] stevepeak commented on #382
Hey :) Thank you for pointing this out. Looks like the Wercker CI statuses are not being identified properly.

I'll fix and deploy today.

[2017-04-06 13:01] #382 closed

[2017-04-06 16:21] juancarlosfarah commented on #213
Is there any way of removing old builds?

[2017-04-06 16:36] stevepeak commented on #213
You can delete commits, but not individual builds at this time.

This feature is being added to our next major release.

Any "mission critical" commits can be handled by Codecov staff while feature is being built out. Just ping us in the Intercom chat (in-app chat) with the commit sha and what builds to remove.

[2017-04-06 16:54] juancarlosfarah commented on #213
Thanks for the quick reply! I was just wondering if we could remove builds as I was testing some coverage reports and some of them had invalid information. Not a big deal for now, but would be nice to have that feature in order to keep things clean later.

[2017-04-06 17:01] junghans opened #383 "Unable to determine a parent commit to compare against."
I have see that a couple of time, e.g.:
https://codecov.io/gh/quinoacomputing/quinoa/commit/9e262426735ed2b64df208f83e4087c93ee77be1
even though the parent (https://codecov.io/gh/quinoacomputing/quinoa/commit/46af906b44173b822783972c63b7e38febac3adc) has a report.

[2017-04-06 21:27] eman6576 commented on #380
I tried something different. When running tests, I added this flag: -derivedDataPath ./out. Then I wrote a script that access the directory and prints the Coverage.profdata. Now is there a way I can specify the derived data path to use the one i declared for `-derivedDataPath`?

[2017-04-06 22:56] eman6576 commented on #380
Im pretty much have the same issue as this one: https://github.com/codecov/example-swift/issues/17

[2017-04-07 12:38] stevepeak commented on #380
Not to my knowledge.

Can you run your Swift tests locally and product coverage? You can use the bash uploader in debug mode like this:

`bash <(curl -s https://codecov.io/bash) -d -v`

[2017-04-07 13:04] stevepeak commented on #383
I believe the issue here is due to the commits being back to back and the CI checks and/or processing lagging.

I'll need to review this concept more since it is a tricky process.

[2017-04-07 13:08] stevepeak commented on #383
I updated the query concerning direct parent matching. Ping me if the issue comes up again 👍

[2017-04-07 13:08] #383 closed

[2017-04-07 14:13] nedbat commented on #373
This looks like a dup of #341

[2017-04-07 14:15] nedbat opened #384 "Provide a way to get more decimal places on the badge?"
I'm at the point in my project (coverage.py!) of making tiny incremental changes. Is there a way to get two decimal places on the badge?

[2017-04-07 14:33] nealrichardson commented on #373
It sure does, so does that mean that https://github.com/codecov/support/issues/341#issuecomment-276646869 didn't actually fix the issue? That fix was February 1 but I definitely saw the issue in March.

[2017-04-07 14:42] eman6576 commented on #380
I have the same issue locally

[2017-04-07 14:47] eman6576 commented on #380
![screen shot 2017-04-07 at 10 43 50 am](https://cloud.githubusercontent.com/assets/16155920/24805388/9247ca3c-1b7f-11e7-9503-b9758f7c1405.png)

[2017-04-07 14:48] eman6576 commented on #380
From the output it says it couldn't find Swift coverage. Then it runs gcov for Objective-C.

[2017-04-07 14:56] eman6576 commented on #380
I have the same issue locally. When running the test from the command line, this what I used: `xcodebuild -workspace BaseAppV2.xcworkspace -scheme BaseAppV2 -destination "name=iPhone 6,OS=latest" -enableCodeCoverage YES test`. Then after running `bash <(curl -s https://codecov.io/bash) -d -v ` here is the output regarding trying to locate the `Coverage.profdata`:

![screen shot 2017-04-07 at 10 55

[2017-04-07 15:46] eman6576 commented on #380
I also noticed that there is a derived data directory in the project. Not sure how that got there.

[2017-04-07 15:59] eman6576 commented on #380
I think after deleting the derived data folder, rerunning the tests locally and test running codecov, it was able to generate the reports:
![screen shot 2017-04-07 at 11 59 18 am](https://cloud.githubusercontent.com/assets/16155920/24808430/a847b482-1b89-11e7-97a5-8931c74769b1.png)
Should this be the output i'm looking for?

[2017-04-07 16:18] stevepeak commented on #380
Those files are exactly what is needed. However, they appear to not be generated in Bitrise from what you are telling me?

Can you confirm the Profdata file is generated?
We also have a beta for a new processing option through plist. But I suspect it would not solve this issue.

[2017-04-07 16:39] stevepeak commented on #384
Great question! I believe we have some work on this, but need to review this more to give you specific details. Nonetheless, if it is not supported I'll add it.

[2017-04-07 17:45] juancarlosfarah commented on #363
Is this working as expected? Just pushed a commit for a branch that was forked from master after a pull request that was sent to Codecov and then merged, but I get the "Missing base report." error. Does the merge need to have been sent to Codecov too?

[2017-04-08 09:55] TimvdLippe commented on #355
Got redirected here from #345. We are facing this issue with Mockito, as we ci skip our release commits. Codecov is therefore unable to generate a report and needs to use its parent. Any ETA for this feature?

[2017-04-10 09:46] SirNO opened #385 "Directories missing although part of report"
Hey,

so last week I configured codecov for a project I am working on, but the report on codecov is missing an entire directory.
So I investigated a bit and turns out the report is generated correctly and submitted. To verify that I made a test branch printing the coverage.xml. It can be found here:

https://travis-ci.com/befelix/Safe-RL-Benchmark/jobs/71554300

The directory and included files ar

[2017-04-10 12:36] uael opened #386 "broken graph rendering"
The [graph](https://codecov.io/gh/jayl/jay/pull/32) rendering seems to forgot some files that are actually covered, in [src/frontend/c](https://codecov.io/gh/jayl/jay/pull/32/tree/src/frontend/c).

[2017-04-10 12:59] stevepeak commented on #386
I see a couple files from src/frontend/c
<img width="419" alt="screen shot 2017-04-10 at 8 58 03 am" src="https://cloud.githubusercontent.com/assets/2041757/24862732/e157a5ae-1dcb-11e7-9900-dfc6f66352b1.png">

Maybe I misunderstand your question. Thanks!

[2017-04-10 13:04] uael commented on #386
Sorry, i been forgot to render, if you look at [src/frontend/c/c_parser.c](https://codecov.io/gh/jayl/jay/pull/32/src/src/frontend/c/c_parser.c?before=src/frontend/c/c_parser.c), he is actually 25% covered

[2017-04-10 15:33] eman6576 commented on #380
When doing a test build on Bitrise, I added a parameter `-derivedDataPath ./tempDerivedData` so the output of the tests and code coverage are placed there. Then when checking the exist of the Profdata file by `ls` it does exist. Here is the output of that:

![screen shot 2017-04-10 at 11 27 05 am](https://cloud.githubusercontent.com/assets/16155920/24869364/fd051f10-1de0-11e7-92a5-cf5adbf7d901.png

[2017-04-11 08:12] Psykar opened #387 "Files appearing in wrong directories"
See https://codecov.io/gh/ASVO-TAO/TAO-UI/tree/4634b1910996db4d441b8d40c0af981e985d4dd1 (private repo)

The log is showing correctly:
https://codecov.s3.amazonaws.com/v4/raw/2017-04-11/18B18E4F06E2BEDFD40217C4E236A638/4634b1910996db4d441b8d40c0af981e985d4dd1/4a227a85-243d-4a3b-8089-7caf3e99e450.txt

But it appears to put some files in the wrong directory when viewing them on codecov, meaning you c

[2017-04-11 13:37] stevepeak commented on #385
Hey @SirNO, can you list one or two directories that are missing. Thank you

[2017-04-11 14:03] SirNO commented on #385
Sure, it's actually only one. ``SafeRLBench/envs/``. The subdirectories are supposed to be excluded. Sorry for the misleading title.

[2017-04-12 22:53] eman6576 commented on #380
Not sure what all the empty strings mean but it likes that didn't do the trick either

[2017-04-12 23:02] eman6576 commented on #380
Also another thing i noticed is it its the report file that fastlane uses.

[2017-04-13 01:04] jruckert opened #388 "[Feature Request] Support VSTS"
Provide integration support for VSTS GIT repositories.

[2017-04-13 12:40] wibosco opened #389 "[Feature Request] Reduce noise in PR comments"
At the moment, at it's smallest the codecov comment looks like:

<img width="845" alt="screen shot 2017-04-13 at 13 34 33" src="https://cloud.githubusercontent.com/assets/649456/25004807/07bb2c46-204e-11e7-9a9f-7466b61f0fbe.png">

As you can see it contains Legend information about something that isn't being shown in the PR comment. Could this be removed to reduce the amount noise in the comment?

[2017-04-13 12:47] wibosco opened #390 "[Feature Request] Stop immediate comment with "behavior: new""
At the moment with "behavior: new", whenever I commit I receive an immediate new comment that has the same information as the old comment and then once CI has finished and the code coverage report pushed up to codecov, I receive another comment with details about the effort my previous comment had on the code coverage.

Ideally that first comment that doesn't add any new information should either

[2017-04-13 12:49] stevepeak commented on #390
@wibosco thank you for the feedback! I suggest using `behavior: default` for the time being while we review the comment engine.

[2017-04-13 14:11] stevepeak commented on #389
You would like to reduce the footer essentially? I can arrange that.

However, you will lose the `Last updated` and legend.

[2017-04-13 14:14] stevepeak commented on #389
I'll add `footer` to the comment layout. You should set this in your aml:

[code]

[2017-04-13 14:15] #389 closed

[2017-04-13 14:18] stevepeak commented on #388
Thank you for your feature request. 👍

[2017-04-13 14:19] stevepeak commented on #380
Can you disable fastline and try again? Perhaps there is a conflict of the coverage information.

You can also try our plist beta:

[code]

Thank you,
Steve

[2017-04-13 14:21] eman6576 commented on #380
Ok, is there anything different needed for that flag?

[2017-04-13 14:23] wibosco commented on #389
@stevepeak that would be great - thanks for getting back so quickly and making the change, it's very impressive.

[2017-04-13 14:25] stevepeak commented on #389
Thanks 😃 It should be deployed today or tomorrow at the latest. Cheers!

[2017-04-13 14:26] stevepeak commented on #380
Nope, it just uses the plists instead of llvm-cov. #future 👍
Give it a shot and paste the CI build here so we can verify results.

[2017-04-13 14:37] eman6576 commented on #380
![screen shot 2017-04-13 at 10 37 03 am](https://cloud.githubusercontent.com/assets/16155920/25009604/30d186ca-2035-11e7-9de4-878837b43010.png)

[2017-04-13 14:39] eman6576 commented on #380
Theres the output above. I wasn't able to disable fastlane though since we use it for deployment.

[2017-04-13 14:41] eman6576 commented on #380
<img width="1189" alt="screen shot 2017-04-13 at 10 41 38 am" src="https://cloud.githubusercontent.com/assets/16155920/25009764/cbd2a88e-2035-11e7-91f7-b06655f1193a.png">

[2017-04-13 14:42] stevepeak commented on #380
Looks like it worked, right?

[2017-04-13 14:45] eman6576 commented on #380
I think so since its the first time I see the actually source files in the screenshot above. I just need to omit the Pods directory. I could do `-g "Pods/*"` or `-g "Pods/"`?

[2017-04-13 14:46] stevepeak commented on #380
To ignore Pods you'll do:

[code]

[2017-04-13 15:46] kevinpumpup opened #391 "Support for function coverage"
It seems that codecov does not report function coverage (or branch coverage) assuming they are included in the submitted report.

Some coverage tools (e.g. istanbul) count function header line into the line/statement coverage but others do not (e.g. nyc). When the former kind is used with codecov, the function coverage is kind of captured as part of line/statement coverage. But for the latter kind

[2017-04-16 04:10] sbuberl opened #392 "Incorrect coverage results"
Hello,

I have like 20 of so class files being tested.  I was like 48% last time I checked.  I haven't worked on the repo in a while.  Yesterday, I committed 3 line diff for a bug fix and my overall coverage dropped 14.3%:

https://codecov.io/gh/sbuberl/fSQL/commit/b5540905c760d358899253813537131d9219f973

And this file for example says 4% when it should be 100%:
https://codecov.io/gh/sbuberl/fSQL

[2017-04-17 11:40] smatsson opened #393 "Code coverage not updated for Resharper detailed xml file"
Hi!

I saw that you recently added support for Resharper's detailed xml reports which is awesome! OpenCover does not yet support .NET Core projects (in csproj format) but Resharper does so thanks for this :)

I'm having a bit of a problem with it though and I'm not sure if I'm doing something wrong. I tried to upload the detailed xml report using the Codecov upload script (version 910f204) and it

[2017-04-17 19:05] eman6576 commented on #380
After using a codecov file, the correct coverage is being reported. Thanks for your help. Should leave this open in case anyone else using Bitrise comes across the same issue.

[2017-04-17 22:25] janpaul123 opened #394 "Bug in `fixes`"
Hi! I'm trying to use [fixes](https://docs.codecov.io/docs/fixing-paths) in an attempt to get around https://github.com/codecov/support/issues/377, but now I'm running into another issue. This is what the Codecov files look like in master now:

<img width="602" alt="screen shot 2017-04-17 at 15 14 31" src="https://cloud.githubusercontent.com/assets/177461/25106972/76050fe2-2381-11e7-8565-0feaf2066

[2017-04-18 07:48] nschloe opened #395 ""chat with out team" doesn't work"
The _Woops_ pages say

(e.g., [here](https://codecov.io/github/nschloe/meshio/commit/c94f25ee72cfffdd7f2165b3a5494cb1a97e3716)), but clicking the link doesn't do anything.

This is on Chrome 57.0.2987.133 (64-bit).

[2017-04-18 07:50] nschloe opened #396 ""There was an error processing coverage reports.""
I'm getting a

on one of my projects for all builds; see [here](https://codecov.io/github/nschloe/meshio/commit/c94f25ee72cfffdd7f2165b3a5494cb1a97e3716). [The corresponding test](https://circleci.com/gh/nschloe/meshio/29) is finishes without error, the report appears to be generated alright.

[2017-04-19 00:18] rokadias opened #397 "False positives for branching within C# code"
I think this has to do with our style of writing code and having parenthesis broken up the way that we style it. I have a few lines of code that are being detected as partials even though it's not branching code in any way.

![image](https://cloud.githubusercontent.com/assets/1198357/25157932/6f580ebe-2459-11e7-85db-1fa812dbe579.png)

This appears to cause false positives with our change percentag

[2017-04-19 16:39] stevepeak commented on #396
Hey @nschloe The issue with this report is the lack of files listed in the report.

[code]
Before `<<<<<< network` should be a fill list of files in your project, but there appears to be only one file.

[2017-04-19 17:03] nschloe commented on #396
Thanks @stevepeak for getting back.

[The corresponding test](https://circleci.com/gh/nschloe/meshio/29) says:
[code]
and
[code]
which looks okay to me. Do you see any issues?

[2017-04-20 15:16] eman6576 opened #398 "How to enable Codecov to post comments in pull requests for Bitbucket"
Hello again,

I was wondering how to enable comments for pull requests in Bitbucket. I noticed that when a pull request is created and our CI finishes running and sending the coverage reports to Codecov, no comments appear. Also the build status shows only CI and not Codecov. I also added a `codecov.yml` file and added the comment part to see if that will work. Doing that didn't affect anything. T

[2017-04-21 06:42] mahmoud opened #399 "no-reports-generated from "Report type unknown" (Python coverage)"
Hi Steve,

I'm running pretty standard combined Python 2/3 coverage using pytest/tox/coverage. [Travis](https://travis-ci.org/mahmoud/hyperlink/builds/224232770) and [AppVeyor](https://ci.appveyor.com/project/mahmoud/hyperlink/build/1.0.19) are both green, and the codecov command output looks good. CodeCov is giving me errors like:

[code]

[Original error here](https://codecov.io/gh/mahmoud/hyper

[2017-04-21 12:50] stevepeak commented on #399
Hey @mahmoud Looks like the `.coverage` file is being uploaded. This file format is not supported and requires `$ coverage xml` to be called before hand.

e.g.,

[code]

[2017-04-21 12:50] #399 closed

[2017-04-21 14:04] stevepeak commented on #398
Hey :) By default Codecov will post comments on Bitbucket pull requests. Can you send me a pull request link in Bitbucket that did not get a comment. I'll debug from there. Thank you!

[2017-04-21 15:00] ThePadawan commented on #371
Potentially correlated:

My github repository names contain underscores, which are translated as hyphens in appveyor project names: My Github repo https://github.com/ThePadawan/the_diary_sein is accessible on Appveyor as https://ci.appveyor.com/project/ThePadawan/the-diary-sein.

Please test for this scenario - hopefully, the $APPVEYOR... variables already contain the correct project name.

[2017-04-21 17:13] mahmoud commented on #399
Hi again Steve, thanks for the quick response! I suspect that would have worked, but the alternative solution that worked for me, just for the record, was to [`cd` into the directory containing the `.coverage` before calling `codecov`](https://github.com/mahmoud/hyperlink/blob/master/.travis.yml#L36). This is necessary because, to increase isolation, [my tests don't run from project root](https://

[2017-04-21 18:15] marco-c opened #400 "File looks completely covered, but codecov says it's ~36% covered"
https://codecov.io/gh/marco-c/crashsimilarity/src/c2c30a5fabc4a55a21626aafdac40cf7b198e677/crashsimilarity/utils.py

[2017-04-21 19:52] eman6576 commented on #398
Here is a link to a pull request that ran successfully: https://bitbucket.org/silverlogic/baseapp-ios-v2/pull-requests/43/ba-554-coredatastack-insertion-and/diff .

[2017-04-27 23:22] eddedd88 opened #401 "how can I re-create codecov webhook in my private organization?"
The webhook that codecov created in my organization was deleted and I can't figure out how to create it again.

[2017-04-28 00:10] kalefranz opened #402 "coverage.xml not being uploaded from Appveyor"
I am not seeing Appveyor reports show up for https://codecov.io/gh/conda/conda.

We use a standard `pip install codecov` for the uploader.

The codecov command I'm invoking to upload the report is

    codecov --env PYTHON_VERSION

After invoking the command, I see output

[code]

https://ci.appveyor.com/project/ContinuumAnalyticsFOSS/conda/build/1.0.3728/job/2wow31pa5bfgkadj#L774

It looks like t

[2017-04-28 00:18] kalefranz commented on #402
Going back through my CI history, it looks like the upload is fine in version 2.0.5, and the regression appears in 2.0.7.

[2017-04-28 13:02] stevepeak commented on #400
Hey Marco,

In the [upload](https://codecov.s3.amazonaws.com/v4/raw/2017-04-21/D9A21A23B61E6AB853E116D8045C8899/c2c30a5fabc4a55a21626aafdac40cf7b198e677/eccbfcad-472a-44bb-99cd-566c1472065f.txt) there are site-package files that are being joined into your project. I suggest removing site-packages by declaring ignore patterns in your [.coveragerc](https://coverage.readthedocs.io/en/latest/config.ht

[2017-04-28 13:02] #400 closed

[2017-04-28 13:07] stevepeak commented on #398
Hey, sorry for the delay. When you open another pull request can you ping me so I can investigate more. Thank yoU@!

[2017-04-28 13:53] stevepeak commented on #401
Happy to help out! Webhooks are on repositories only. 👍
`https://codecov.io/gh/OWNER/REPO/settings` to reset the hook.
If you are using the [GitHub Integration](https://github.com/integration/codecov) - the webhooks are managed automatically.

[2017-04-28 13:53] #401 closed

[2017-04-28 14:03] eddedd88 commented on #401
Should I be seeing a codecov webhook in my repo? Or this webhook not necessary? Because I don't see a codecov webhook in my repo.

When I first installed the Github integration,the webhook was there, but then I mistakenly deleted it from the repo manually. I tried uninstalling and re-installing the Github integration but the webhook is still not showing

[2017-04-28 14:05] stevepeak commented on #402
I'm on it! - I think the issue was based on what directory codecov is being called in.
Patching and deploying.

[2017-04-28 14:21] stevepeak commented on #401
When using the Github integration you will not see a webhook in your project settings on Github. The webhook is managed by the integration itself.

[2017-04-28 14:28] eddedd88 commented on #401
Gotcha, thanks a lot for the quick response, really appreciate it

[2017-04-28 14:45] stevepeak commented on #402
`v2.0.9` has the patch 👍 Thank you

[2017-04-28 15:11] marco-c commented on #400
Thanks, looks good now.

[2017-04-29 03:09] nic-hartley commented on #395
Sorta-repro, same build. Are you middle-clicking? If you just left-click, it works for me; middle-clicking does nothing.

[2017-04-29 14:58] stevepeak commented on #384
I'll have this deployed today. Please add `badge.svg?precision=2` to the badge endpoint.
Thank you!

[2017-04-29 14:58] #384 closed

[2017-04-30 16:31] nedbat commented on #384
Thanks! No sign of it yet, but I'm sure a deploy soon will bring it to the surface.

[2017-05-01 00:04] gsauthof commented on #193
With a C++ project of mine I also observe this issue. Similar to the example @rianquinn posted, the partials are all over the place:

https://codecov.io/gh/gsauthof/imapdl/src/46cc2ce1896ad64180880d2e735dabda5850eee7/maildir/maildir.cc

The coverage data comes from a build job that compiles with GCC and uses lcov to create a .info file which is explicitly uploaded to codecov.io. Lcov is configured

[2017-05-01 22:35] janpaul123 commented on #394
Ping to @stevepeak—any idea what might be causing this?

[2017-05-02 12:31] stevepeak commented on #394
Hey, sorry of the delay.

The fixes added a double `//` which caused the issue. We resolved this recently and I believe your project is back on track.

Can you verify?
Thank you!

[2017-05-02 22:49] OktoberComstock commented on #83
Hi there! This may be a noobie question, but where would I be placing the above code in? In the codecov.yml file? Or would I have to wrap this around every line of code every time I needed it to be ignored? I'm using swagger-docs with Ruby and would love to be able to ignore the swagger syntax lines within my controllers. Thank you!

[2017-05-03 17:35] OktoberComstock commented on #83
Can this work without the codecov Python uploader setup?

[2017-05-03 18:17] OktoberComstock commented on #83
Was this ever implemented and merged? @stevepeak

[2017-05-03 18:52] stevepeak commented on #83
Not really...Codecov does not scan for it's own comments. There are a couple reasons why:

1. It is not efficient to scan through every file for this syntax.
2. Codecov does not clone or store source code server side - so all this processing would be done during CI builds.
3. It should be the responsibility of the language's coverage collecting agent to ignore lines.

With that being said: @Oktobe

[2017-05-04 03:11] janpaul123 commented on #394
It seems to still be happening. I made sure to create a new commit so Codecov ran fresh, and I still see the problem happening here: https://codecov.io/gh/remix/remix/list/7c28ac434bc249eee7b60f6d180fe8aedf831ad9/ (which is a commit that has the `fixes`)
Thanks for looking into it!

[2017-05-05 07:04] beaugunderson opened #403 "Monorepo + docker?"
We have a monorepo and we also use docker.

I've seen the instructions for manually uploading multiple coverage reports, which is fine.

But I can't figure out how to get the file paths to match up correctly.

Every docker container has its tests run from a directory called `/app`, but those are all actually subdirectories of the monorepo. I don't see a relevant codecov-bash option, and the yaml `

[2017-05-05 13:29] stevepeak commented on #403
Happy to help out!

[code]

If you link me to a commit in Codecov I can help out without guessing 👍

[2017-05-05 18:00] beaugunderson commented on #403
@stevepeak the issue is within `/app` in the docker only the application files for that sub-project of the monorepo exist, so they end up in the root of the codecov report.

See [this commit](https://codecov.io/gh/canvas-medical/canvas/tree/0f85abfa61855e0b16c685b6ea1b915f5e7f4eaa), for example.

(Both `app` and `surescripts` and the files at the root in that commit exist under `/app` in the docke

[2017-05-05 18:13] beaugunderson commented on #403
To be more explicit:

I have the monorepo cloned to:

- `~/p/canvas/`

One project that I want to run tests on is at:

- `~/p/canvas/pharmacy/`

When I run the tests within a docker container, the files from `~/p/canvas/pharmacy/*` are at `/app/*` within the docker container.

I'd like the coverage data for those files to be within `/pharmacy/` in the coverage report. :)

[2017-05-05 18:15] beaugunderson commented on #403
The issue with rewriting `/app/` to `/pharmacy/` in the `codecov.yml` is that we use `/app/` within the container for every project, so it's not unique. I tried playing with renaming or creating a symlink from `/app/` to `/pharmacy/` inside the docker container as part of the test-running process but quickly got out of my depth in terms of the internals of `codecov-bash`. :)

[2017-05-05 18:50] stevepeak commented on #403
Let's chat this out :) http://slack.codecov.io ping `@steve`
Thanks!

[2017-05-05 18:50] #403 closed

[2017-05-10 07:53] nschloe commented on #396
This issue still occurs. Any idea how to debug?

[2017-05-10 07:55] nschloe commented on #395
Nope, I'm left-clicking. The console says
[code]
– perhaps that's related.

[2017-05-10 13:51] alyyousuf7 opened #404 "Comparing branch in Tree view"
I have two branches, **master** and **feat/somework** (with a slash in it).

When I compare these two branches (the **Files** tab):
`https://codecov.io/gh/myusername/myrepo/compare/master...feat/somework/tree`

And click a directory, named **abc**, it replaces the slash in **feat/somework** with **%252F** in the URL and it doesn't show any file under that directory.
`https://codecov.io/gh/myuserna

[2017-05-10 14:06] stevepeak commented on #404
Nice discovery. Looks like it's escaping the `%` => `%25`. I'll fix this up now. Thank you!

[2017-05-10 14:31] stevepeak commented on #404
Deploying shortly. Thank you

[2017-05-10 14:31] #404 closed

[2017-05-10 16:08] stevepeak commented on #395
Thank you for reporting. Fixing now.

[2017-05-10 16:24] stevepeak commented on #395
Deploying soon.

[2017-05-10 16:24] #395 closed

[2017-05-10 17:09] roversch opened #405 "Have to run Travis-CI twice to get report on PR"
I see a slightly weird behavior from Codecov: whenever I try to merge a pull request (e.g. `Merge pull request #77 from myrepo/whatever`), I get an error message like this, even if all tests pass and `codecov-bash` says it did its job correctly:

<img width="826" alt="screen shot 2017-05-10 at 09 09 05" src="https://cloud.githubusercontent.com/assets/1436556/25911287/1e0ad440-3568-11e7-88f3-08c2f2

[2017-05-11 01:16] roversch commented on #405
It also gives me this option:

`Notifications are pending CI completion. Waiting for GitHub's status webhook to queue notifications. Push notifications now.`

[2017-05-11 12:56] stevepeak commented on #405
Can you link me to the commit in Codecov - I'll review the uploaded reports which are found by clicking the **Download** button in the logs.

[2017-05-11 18:37] stevepeak commented on #396
Hey @nschloe The issue is because the file path `dist-packages` is ignored by default. Please add the following to a codecov.yml to resolve:

[code]

[2017-05-11 19:23] mpsijm opened #406 "CodeCov.io UI does not state that codecov.yml should be on master"
Hey guys,

I was trying to get my (private) repository to display coverage results, but I had a hard time configuring my Slack notifications, because CodeCov would not recognize the `.codecov.yml` we have in our repository. (Note: we use feature branches that get PRs into a develop branch, and once every sprint `dev` gets merged into `master`. The YAML file resided on a feature branch.)
Later, I f

[2017-05-11 20:00] stevepeak commented on #406
Hey @mpsijm Happy to help out! The issue could have been the name of the file. Codecov will always use the commit codecov.yml version that is being tested.

What is the `owner/repo` name? Thank you!

[2017-05-11 20:11] nschloe commented on #396
Thanks Steve, your suggestion indeed makes codecov do something.

There still seem to be some errors in the representation of the results though. Check out https://codecov.io/gh/nschloe/meshio/tree/master/meshio:

 * The coverage for `vtk_io.py` is given as 3.40%, but upon inspecting the file, one notices that almost everything is checked.
 * There's a difference of *Folder totals* (68.18%) and *P

[2017-05-11 20:14] stevepeak commented on #396
Maybe the page was cached, because I'm not seeing that same information https://cl.ly/2q1Y0D1S0534

[2017-05-11 20:16] nschloe commented on #396
You're right indeed, I don't see it anymore either.

Thanks a lot for investigating!

[2017-05-11 20:16] #396 closed

[2017-05-11 20:39] mpsijm commented on #406
Hey Steve,

The name of the file is (copy-pasted) `.codecov.yml`, so I'm guessing that's not the issue here.
I only have one repo on my name registered at CodeCov, so you will probably find it easily :slightly_smiling_face:
The branch containing the correct configuration (afaik, of course) is named `3-code-coverage-tool-3`.

Thanks for helping! :slightly_smiling_face:

[2017-05-11 20:40] nschloe opened #407 "status.codecov.io: HTTPS"
There's a certificate error on https://status.codecov.io (which I just tried ot visit for the first time -- Chrome won't allow me though b/c of the error).

See https://www.ssllabs.com/ssltest/analyze.html?d=status.codecov.io&s=104.192.142.99&ignoreMismatch=on&latest.

[2017-05-11 20:53] stevepeak commented on #407
Thank you! Fixing the status page to HTTP now.

[2017-05-11 20:53] #407 closed

[2017-05-12 09:46] mpsijm commented on #406
Hey Steve,

Overnight we didn't change anything, and fifteen minutes ago we suddenly got a Slack notification from Codecov's webhook about the latest commit! So the configuration works now :smile: :tada:

[2017-05-12 09:46] #406 closed

[2017-05-13 00:46] kerrizor opened #408 "Detect parallel CI build failures"
We run 6 parallel CI runs on TravisCI, and frequently see one of them fail. CodeCov still generates a report in this case. This leads to coverage report "freak outs" as suddenly everything is red and coverage plummets.

Is there a way to require N successful reports be received _before_ codecovbot reports coverage? ..or perhaps detect a non-0 exit and report back to the aggregator "hey, don't publ

[2017-05-13 10:38] fd0 opened #409 "File displayed on codecov.io that does not exist in the repo?"
Hi,

as discussed [in the Gitter channel](https://gitter.im/codecov/support?at=5910b8ffc4d73f445a87b96b), we have some problems displaying and browsing the [restic](https://github.com/restic/restic) coverage information online: There's a file called `sftp.go` that's displayed in the root directory which does not exist in the repo: https://codecov.io/gh/restic/restic. Clicking on the file returns a

[2017-05-13 11:08] hugovk commented on #376
This problem is still happening.

[2017-05-15 10:10] Dids commented on #298
Any news on this?

[2017-05-15 11:16] darioizzo commented on #144
We have the same issue on our project with the use of  LCOV_EXCL_START / LCOV_EXCL_STOP.
The first command seems to be parsed correctly, but then the second command is ignored.
This causes anything after the first LCOV_EXCL_START to be ignored!

https://codecov.io/gh/esa/pagmo2/src/master/include/pagmo/algorithms/ipopt.hpp#L262

is this going to be fixed?

[2017-05-15 15:23] stevepeak commented on #144
@darioizzo sending a patch today. Thank you for your patience.

[2017-05-15 15:27] stevepeak commented on #298
I see we have a report processor for Mono. @Dids have you uploaded a Mono report to Codecov yet?

[2017-05-15 18:22] springmeyer commented on #144
@stevepeak - thanks for taking a look at getting this working. Can you provide a link here to your commit or PR when you fix this? I presume it will show up at https://github.com/codecov/codecov-bash/commits/master?

[2017-05-16 12:03] stevepeak commented on #144
The fix was server side - the code of which is private (planned to open source soon 👍 )
Just deployed 🚀

[2017-05-16 12:42] stevepeak commented on #409
Hey @fd0 Thank you for your patience. Can you add a Codecov.yml with the following:

[code]

This won't be required after we improve our path resolving.

[2017-05-16 17:42] springmeyer commented on #144
Thanks @stevepeak

[2017-05-16 19:17] fd0 commented on #409
Hm, does not look like that works: https://codecov.io/gh/restic/restic/tree/4640d1a28e55991e02109344024a66a658b1450f

The files there are not clickable...

[2017-05-16 23:11] interstateone commented on #355
My initial hopes for Codecov based on the description of the flags and merging features were that it would work for the project I'm working on right now, which has a similar setup to the one in this issue.

I assumed that when only certain flags were uploaded that the previous coverage values would be used. In practice, the coverage values in the PR comments and on the dashboard that are made by C

[2017-05-17 09:32] darioizzo commented on #144
Yeps, looks like this is fixed now! Thanks a mil @stevepeak

[2017-05-17 13:30] benswinburne opened #410 "Typo on yaml settings page"
There's a typo on the following page

https://codecov.io/gh/{organisation}/{repo}/settings/yaml

It reads

Which should read

[2017-05-17 15:44] stevepeak commented on #410
Thanks! 👍

[2017-05-17 15:44] #410 closed

[2017-05-17 15:51] stevepeak commented on #355
@TimvdLippe Your issue is not quite related to this. Can you ping me in [Slack](https://slack.codecov.io) or [Gitter](https://gitter.im/codecov/support) to review your project. Thanks!

@interstateone ::

When you only upload certain flags then the comment would be off because it's missing data. The concept of "assuming" data is not yet implemented.

Given that "assuming" is not implemented: The d

[2017-05-17 19:37] sbuberl commented on #392
Since no response in a month, any way to purge the old coverage data?   I tried deleting/removing the repo on codecov and adding it back.  But the data is still there no matter how long I wait.

[2017-05-18 15:10] stevepeak commented on #392
Can you please chat with us in Intercom (in-app chat) to get help on your project.
Please provide a new commit sha that we can review. Thank you!

[2017-05-18 15:10] #392 closed

[2017-05-19 07:58] Dids commented on #298
@stevepeak Since I'm on macOS, I can't use OpenCover, if that's what you were referring to?

I did, however, figure out how to product a coverage file as XML, which looks like this:
[code]

To be able to produce the above wasn't as easy as I thought. I had to create a "special" console app target, which contains my tests and provides an NUnit console runner, so it ends up being an executable.

Aft

[2017-05-19 13:02] stevepeak commented on #298
Hey @Dids there was an issue detecting this report. I've patched and will deploy shortly.

[2017-05-20 15:03] albertodonato commented on #217
I'm experiencing a similar issue on https://github.com/albertodonato/prometheus-aioexporter.
Coverage dropped from 100% to 72.8% on a release commit that doesn't really change any code, and lines where there's supposed to be missing coverage don't really make sense (see https://codecov.io/gh/albertodonato/prometheus-aioexporter/src/9f0128430c3833295220a434abbcfb11e1c09a22/prometheus_aioexporter/sc

[2017-05-20 17:14] stevepeak commented on #217
Hey all - If you code base is **python** then the following may apply to your reports.

Codecov tries to resolve file paths and are joining some site-package files into your package source.
e.g., `site-packages/misc/script.py` => `prometheus_aioexporter/script.py`.
We acknowledge this behavior is a bug that we are looking into a resolution **now**.

Some customers upload reports with dependencies

[2017-05-20 17:18] stevepeak commented on #217
@albertodonato for example `class branch-rate="0" complexity="0" filename=".tox/coverage/lib/python3.5/site-packages/toolrack/script.py" line-rate="0.6" name="script.py">` is included in your uploads.

Ignoring site-packages is the *best* fix for this issue:
[code]

[2017-05-21 18:48] Dids commented on #298
@stevepeak I can see it's now recognizing it as `csharp-mono`, but it's still not working:
[code]

[2017-05-24 11:01] stevepeak commented on #408
@kerrizor Codecov will detect the CI state and essentially ignore the commit for reporting.

Can you send me an example commit that you found this process to not work?

Thanks

[2017-05-25 12:38] TimvdLippe commented on #355
@stevepeak I have contacted you on Gitter

[2017-05-26 12:02] fd0 commented on #409
So, anything else I can do?

[2017-05-27 04:57] ileitch commented on #355
@stevepeak any progress on this?

[2017-05-27 13:44] stevepeak commented on #355
It's still on the radar - but requires quite a lot of work to pull off.

[2017-05-29 21:10] tkrotoff opened #411 "no-reports-generated error although Travis CI seems OK"
I have a somewhat similar issue to #405:

[code]
See https://codecov.io/gh/tkrotoff/ReactFormWithConstraints/commit/aaf3e8eaf16e466cb7bf0fa08585fb41ede7cef5

Travis CI seems to be OK:
https://travis-ci.org/tkrotoff/ReactFormWithConstraints/builds/237254360

[code]

GitHub repository: https://github.com/tkrotoff/ReactFormWithConstraints
Commit that adds codecov support: https://github.com/tkrotoff/

[2017-05-30 13:04] stevepeak commented on #411
Looks like the file network (`git ls-files`) are quite incomplete. We use this list to map files back to their rightful place.

When you run Codecov is it ran from the git project directory?
Do you change the git structure of the project at all?

[2017-05-30 14:24] tkrotoff commented on #411
This is what `git ls-files` gives me ([this is a small React project](https://github.com/tkrotoff/ReactFormWithConstraints)):
[code]

It fails with both Travis CI and when running `node --trace-warnings node_modules/.bin/jest --no-cache --coverage && codecov -t xxx` locally.

Each time it says everything is OK (both Travis CI and locally):
[code]
and https://codecov.io/github/tkrotoff/ReactFormWit

[2017-05-30 17:23] Nihlus commented on #298
It seems to work fine now. However, information about methods and properties that are not covered by tests in a tested class is not presented in any way (well, it's not marked as anything). This results in inaccurate results - a class which might have 20 methods where only 1 is tested can have its coverage reported as 100%.

[2017-05-31 06:02] Dids commented on #298
@stevepeak Since Mono can't generate any more information, it's now up to the codecov.io parser to scan the source files for methods mentioned in the XML (per assembly/class), then mark those as not covered if they're not mentioned in the XML, right?

[2017-06-01 08:51] stevepeak commented on #298
@Dids we do not scan source files. We only use the coverage reports at this time. Whatever data is provided in them we will scrape and expose in our UI.

In the future we plan to open up our framework to support advanced usage that could support your question above.

[2017-06-01 08:51] stevepeak commented on #298
@Nihlus can you send me the commit in Codecov so I can review the report. Thans

[2017-06-01 08:54] stevepeak commented on #411
This is because `FormWithConstraints.js` does not exist in your `git ls-files`.

Please use source mapping to map the coverage back to your `ts` files.

https://github.com/codecov/example-typescript#frequently-asked-questions

[2017-06-01 10:07] tkrotoff commented on #411
Do you suggest to git commit the compiled files? Your [example](https://github.com/codecov/example-typescript) does not and [git ignore them](https://github.com/codecov/example-typescript/blob/ffa68f95e278ab3b4731289d3d5e7bec00c9c09e/.gitignore#L38) like [me](https://github.com/tkrotoff/ReactFormWithConstraints/blob/v0.2.3/.gitignore#L5).

If I understand well codecov cannot generate a report only

[2017-06-01 12:21] Nihlus commented on #298
@stevepeak Here you go: https://codecov.io/gh/Nihlus/opentk/tree/72b00b4460bee5ff8bc00df53a63778bf62a23c9

[2017-06-06 05:48] fd0 commented on #409
At the moment it's not working at all, just an infinite redirect :/

[2017-06-06 07:55] stevepeak commented on #409
Hey @fd0 I'm on it.

[2017-06-06 07:58] stevepeak commented on #409
Can you remove the `disable_default_path_fixes: true` now that we have resolved this issue in our backend. Then submit a new build to Codecov.
Thanks!

[2017-06-06 08:02] fd0 commented on #409
Will do later today, thanks!

[2017-06-06 08:05] fd0 commented on #409
submitted as https://github.com/restic/restic/pull/997

[2017-06-06 17:27] roversch commented on #405
Sorry for getting back so late, but this issue came up again today, exactly same error message as above. Different cause though: this time, it was by pushing an edit to `README.md` from the Github web interface. Please have a look at [this codecov report](https://codecov.io/gh/acados/acados/commit/d7838edcebd4a3ec8d613763d614b0591a037681).

From [this Travis build](https://travis-ci.org/acados/aca

[2017-06-06 20:52] fd0 commented on #409
here's a PR without the config setting: https://github.com/restic/restic/pull/1002

[2017-06-06 20:53] fd0 commented on #409
There are still errors: Files are listed which do not exist (in that path) and I cannot click on them, e.g. the the `swift.go` and `sftp.go` in the top level here: https://codecov.io/gh/restic/restic/pull/1002/tree

[2017-06-07 09:35] jayvdb opened #412 "Coverage per build data"
coala/coala-bears has 100% coverage on *nix , but only 79% coverage on Windows.  We want the Windows coverage to increase over time.

We could cap the coverage by constantly updating `fail_under = 79` to at least make sure it doesnt fall, and hope it increases, but some voodoo codecov solution would be nice.

Some visualisation of the different coverage levels on the builds page could be helpful (

[2017-06-07 17:07] fd0 commented on #409
So, anything else I can do? At the moment using codecov is really annoying for me: It marks PRs as having failed because the coverage dropped by an insignificant proportion, but I cannot figure out why it thinks that (e.g. [here](https://github.com/restic/restic/pull/999)).

If there's anything else I can do to help, please let me know!

[2017-06-07 19:07] 0xced commented on #308
Ping.

[2017-06-08 08:09] stevepeak commented on #308
@0xced Please use our new xcodeplist which is in the last stages of beta:

[code]

Please provide feedback on this solution which is much better than `llvm-cov`. Thanks

[2017-06-08 12:42] Tim-W commented on #411
I'm having the same issue using OpenCover for a C# project.

CodeCov log:
[code]

AppVeyor build log (shows no errors):
[code]

[2017-06-11 07:52] stevepeak commented on #412
@jayvdb Great ideas :) For now I would suggest using [Flags](
http://docs.codecov.io/docs/flags) to mark `#nix` and `#windows` separately.
We plan to add Flags to the dashboard when we refactor it in the near future.

[2017-06-11 08:05] stevepeak commented on #405
This is really odd... I see the gcov reports processed and added, but they do not end up in the loaded report. First I've ever seen this.

E.g., this [upload](https://codecov.io/github/archive/v4/raw/2017-06-02/549A6AFBE1FB8A4B6247988D8CCDBA23/d7838edcebd4a3ec8d613763d614b0591a037681/fcdc41ae-f6a9-4cad-82e0-346314aefac6.txt) does not contain any `gcov` reports.

Can you run a build with `-v -d` to

[2017-06-11 09:28] stevepeak commented on #409
@fd0 Can you book a chat with me to review this together. https://calendly.com/codecov/chat Well get this all sorted out.

[2017-06-11 10:33] fd0 commented on #409
Will do, great idea!

[2017-06-11 10:34] fd0 commented on #409
FYI: The slack invite website at https://slack.codecov.io/ reports an error `token revoked!`...

[2017-06-11 18:01] fd0 commented on #409
I still cannot register on the codecov slack, shall we do that on gitter.im?

[2017-06-12 07:40] stevepeak commented on #409
Fixed the Slack 👍  - Can you join there to chat. Thanks

[2017-06-12 17:28] fd0 commented on #409
Done, ready when you are.

[2017-06-12 21:16] roversch commented on #405
I did that [here](https://api.travis-ci.org/jobs/242179423/log.txt?deansi=true), but the log is incomplete, due to Travis limits..

[2017-06-13 07:55] stevepeak commented on #405
@roversch I'm so confused why the reports are not being included in the upload. This is the first time I've seen this.

Have your tried to debug locally?

[2017-06-13 15:49] njasm commented on #278
@stevepeak  any news about this issue?

[2017-06-13 16:16] ggeorgiev opened #413 "commit branches are "random""
The branches for particular commit is assigned at random. In git one sha could be in multiple branches. If commit is created in a feature or task branch and then merged to master the same sha will be at the same time in more than one branch.

Codecov seems to try to determine the branch with some kind of query, resulting in almost every sha shown in a different branch.

[2017-06-14 00:01] ykcilborw opened #414 "Removing"
We look forward to helping you. At this time GitHub issues are prioritized last, please use one of the chat support channels to get support.

https://codecov.io/support

Proceed to submit an issue here for feature requests. Thank you

[2017-06-14 00:08] ykcilborw opened #415 "Bug: Removing "final" Modifier From Java Interface Parameter Decreases Code Coverage"
Per https://stackoverflow.com/questions/5380177/final-arguments-in-interface-methods-whats-the-point, a final modifier on a method parameter is not mentioned in the rules for matching signatures of overridden methods.

Consequently, removing the "final" modifier on a parameter in an interface should not decrease code coverage because the "final" is not being enforced in the first place.

However,

[2017-06-14 15:06] wootanis opened #416 "Issue"
We look forward to helping you. At this time GitHub issues are prioritized last, please use one of the chat support channels to get support.

https://codecov.io/support

Proceed to submit an issue here for feature requests. Thank you

[2017-06-14 15:11] stevepeak commented on #415
@ykcilborw Thank you for reporting this. Can you link me to a commit in Codecov that expresses this issue.

[2017-06-14 18:49] roversch commented on #405
When I run it locally with -v -d, I get

+ say '    \033[0;31mX> Failed to upload coverage reports\033[0m'

+ echo -e '    \033[0;31mX> Failed to upload coverage reports\033[0m'

    X> Failed to upload coverage reports

+ exit 0

On Tue, 13 Jun 2017 at 00:55 Steve Peak <notifications@github.com> wrote:

[2017-06-14 18:59] ykcilborw commented on #415
https://codecov.io/gh/opentok/anvil/compare/783f0d8a4554fc867b0638bef0393b24b683b1e1...efa0eba55ef8a59b69668c083e098668f7dc3385

[2017-06-14 20:44] roversch commented on #405
@stevepeak I ran a diff on the passing and failing Travis output, and I notice this when the reports are _empty_ (repeated for each file):

    /home/travis/build/.../ocp_qp_ooqp.c.gcda:stamp mismatch with notes file

[2017-06-14 22:58] roversch commented on #405
I think I found the issue. It's because I recompile some code after the coverage data is created (see https://github.com/cb-geo/lbm-dem/issues/1 ).

[2017-06-14 22:58] #405 closed

[2017-06-15 14:22] fd0 commented on #409
This is resolved, thank you very much for your support!

[2017-06-15 14:22] #409 closed

[2017-06-15 18:28] zeux commented on #144
@stevepeak Can you explain a bit more how LCOV_EXCL_LINE support is implemented? I tried uploading a .gcov file that has LCOV_EXCL_LINE comments (https://github.com/zeux/pugixml/commit/02e6d7d605bd6b6b4637fdea08029ef822c0ab0c) but that did not work. Running this sed script over the source file itself in a later commit in this branch did mark these lines as covered in the report. Is it the case tha

[2017-06-16 03:57] zeux commented on #144
My temporary workaround to this is:

Needless to say it's not ideal :) My goal basically is to keep the source using `// unreachable` comment (as it seems more readable to people unfamiliar with lcov), and somehow tell codecov that this line should not be counted towards code coverage results.

[2017-06-16 06:40] stevepeak commented on #144
Codecov will search for this line in the code here: https://github.com/codecov/codecov-bash/blob/master/codecov#L1309-L1331
I do not know why lcov does not automatically ignore these lines... But Codecov must review the report to find the lines on it's own.

I welcome all feedback! 👍

[2017-06-16 06:46] stevepeak commented on #416
I'm sorry, what is the problem here?

[2017-06-16 06:46] #416 closed

[2017-06-20 20:24] #415 closed

[2017-06-21 22:44] skladek opened #417 "Long repo names align oddly on the project selection page."
Long repo names appear below the icon. This looks strange when appearing in a list with some that do not align below the icon. A few potential solutions:

* Expand the width of the "card" to accommodate longer names.
* Truncate long names.
* Wrap the text and keep the left edge aligned with unwrapped repo names.

<img width="389" alt="screen shot 2017-06-21 at 4 38 21 pm" src="https://user-images.

[2017-06-21 23:52] ELLIOTTCABLE commented on #379
Still waiting on this!

[2017-06-22 07:03] mkchoi212 commented on #83
@stevepeak If I could add something to this, I personally would love a feature that would allow me to ignore lines that go something like this.

[code]
 I wrote the code within the if statement to simply print a message and crash the program when `realloc` fails to allocate more space. Personally, I think code like this doesn't need to be tested because the block's behavior is quite obvious.

[2017-06-22 08:41] stevepeak commented on #83
We would love to do this, however, the overhead of scanning every file for `/* ignore */` may be to elaborate.

@mkchoi212 For `C` you can use `// LCOV_EXCL_SKIP`

[2017-06-22 10:35] mkchoi212 commented on #83
@stevepeak Thanks. I will give that a go

[2017-06-26 08:12] stevepeak commented on #278
@sbougerel made a very nice example showing this off https://github.com/sbougerel/codecov-go-example

[2017-06-27 17:30] altendky commented on #402
I'm seeing the same issue starting with codecov==2.0.7 in https://ci.appveyor.com/project/adiroiban/twisted and remaining since (it soon switched to 2.0.9 but was still broken).  I'm confused as to how disabling the search is what broke this but leaving the search disabled is still ok.

Is there something else that I need to be doing to override the disabling of the search?

[2017-06-28 05:32] akshaybabloo commented on #205
I still have this issue - https://travis-ci.org/akshaybabloo/gollahalli-com/builds/247804096

[2017-06-28 06:53] johnbickmore commented on #205
@akshaybabloo Open your own issue, don't tag onto this closed issue 👎

[2017-06-28 07:05] stevepeak commented on #205
There was a system outage yesterday that we continue to investigate.

This specific issue will be locked. Please open new ones if you have questions. Thank you!

[2017-06-30 09:53] paltman opened #418 "Hits/Misses Line Reporting is Incorrect"
The coverage.py report that is uploaded looks like this for `organization/models.py`:

![](https://d26dzxoao6i3hh.cloudfront.net/items/0F3i0j19133D2w2R2s0X/Screen%20Shot%202017-06-29%20at%2012.36.44%20PM.png)

As you can see lines 1, 3, 4, 5, 6, 7 are "hits".

Yes, the reporting looks like:

![](https://d26dzxoao6i3hh.cloudfront.net/items/2M0n0Q0c1g0x2t3j3S0w/Screen%20Shot%202017-06-29%20at%2012.3

[2017-06-30 10:02] yyunikov opened #419 "Code coverage only for pull request"
We are having the following issue with CodeCov. Consider case when making pull request from some PR branch to main branch. The pull request contains changes in 4 files and does not actually affect the main branch coverage. However, since the pull request was created, there were few changes that affected code coverage in main branch.

So, for this case, code coverage shows that 17 files were change

[2017-06-30 10:29] stevepeak commented on #418
There is a file simply called

[code]

That is being moved to mgh/organizations/models.py causing the issue.

Can you look into removing the extra files in your coverage.xml report?

Thanks

[2017-06-30 10:39] paltman commented on #418
@stevepeak thanks for your quick response.

That's not an extra file though. That's a top level `models.py` file that I'm also interested in tracking coverage on.

[2017-06-30 10:40] paltman commented on #418
Well, I thought it was a top level `models.py` file.  Now I'm not sure where it's coming from.

[2017-06-30 10:41] stevepeak commented on #418
How are you running coverage? The file paths do not line up to your project layout so Codecov tries to resolve, but appears to be doing it wrong.

[2017-06-30 10:45] paltman commented on #418
Yeah, I'm just noticing that.  When I just run `coverage xml -i` and inspect the file I have the full paths that I would expect.

In my CI, I'm running:

[code]

inside `tox.ini`

and then in the Travis `after_success`, I'm running codecov with my token (I'm assuming this is running `coverage xml -i` but it seems perhaps to be doing some path translation?

[2017-06-30 10:48] paltman commented on #418
Something seems to be stripping the `mgh` package in the `coverage xml` generation.

[2017-06-30 11:02] paltman commented on #418
I wonder if `tox` executing the coverage and then travis's `after_success` executing the `coverage xml` via `codecov` is the problem.

I'm testing that theory by pulling out the execution from tox and directly into my `travis.yml`.  I'll let you know shortly if that solves it.  It will at least remove that bit of the puzzle.

[2017-06-30 11:08] paltman commented on #418
That did it!

Thanks @stevepeak for the tip cluing me into the paths.  I had been looking at the source file uploaded for awhile but didn't notice it until you pointed it out.

[2017-06-30 11:08] #418 closed

[2017-06-30 17:46] altendky commented on #402
Perhaps there were two issues?  The addition of disabling the search for AppVeyor and then also the trouble when manually uploading?  Then the applied patch fixed the latter but not the former?

I do see that Conda is still using 2.0.5.
https://ci.appveyor.com/project/ContinuumAnalyticsFOSS/conda/build/job/76qvq3hktr8g4sdw

[2017-07-01 03:25] glyph commented on #402
Can someone with the appropriate permissions to do so reopen this?  I was a little confused when I saw the linked issue as "closed", but reading the comments it appears clear it's still open.

[2017-07-02 08:08] stevepeak commented on #419
Hey :)

I see you are reviewing a pull request in Codecov - Great.
We show this this data off in the Diff and Changes tabs. Also the Files tab can help.

Think the coverage is wrong? Please review the [raw uploaded reports to confirm](https://docs.codecov.io/docs/unexpected-coverage-changes#section-review-reports-yourself) the findings (I manually do this for customers everyday and I always find i

[2017-07-03 23:38] greenteamsite commented on #379
Find here:

https://github.com/codecov/support/wiki/Codecov-Yaml#full-yaml

[2017-07-06 00:14] harshavardhana commented on #419
https://github.com/minio/minio/pull/4621 - this is the same problem we saw here as well.

![screenshot](https://user-images.githubusercontent.com/622699/27890033-3cd41760-61a5-11e7-8228-d995555966e0.png)

The PR just changes one file and is fully covered but the overall coverage indicates some files actually lost coverage which shouldn't be the case since the code flow path or PR doesn't even affe

[2017-07-06 10:07] aminecmi commented on #374
Happens to me too.

[2017-07-06 14:28] yyunikov commented on #419
@stevepeak Could you explain how this then happened? New file was created in PR and was fully covered with test. It was successfully submitted to CodeCov, however shows 0% coverage for the file. See the screenshots below
![circle_ci](https://user-images.githubusercontent.com/5285857/27915981-7b1ff068-6270-11e7-8f2e-799a560aa25d.png)
![new-file](https://user-images.githubusercontent.com/5285857/279

[2017-07-06 23:12] adam-arold commented on #374
Still not solved so I go without coverage for now.

[2017-07-07 13:17] stevepeak commented on #374
The issue is not with Codecov, I'm afraid I must admit. The coverage report does not exist and therefore nothing is uploaded.
Can you confirm a report is generated during your CI build?

[2017-07-09 12:59] yuriykulikov opened #420 "Suggestion: do not show redundant packages in Sunburst and Iceberg charts"
Hello guys,
thanks a lot for an awesome platform! Loving it!

I have a suggestion though. In many Java/Kotlin projects there is normally a deep hierarchy of empty folders. For example, in my project: src/java/main/com/better/alarm. The only folder with source files and other packages is src/java/main/com/better/alarm, whereas all other folders above contain only the next folder.

This causes the c

[2017-07-11 12:27] yyunikov commented on #419
Guys, any ideas of what's happening above?

[2017-07-11 12:46] yyunikov commented on #419
I've created a [test PR on a public repo](https://github.com/yyunikov/codecov-example-java/pull/4) to reproduce an issue. Please check.

[2017-07-11 12:55] yyunikov opened #421 "Code coverage for new files shows 0% coverage, when it's actually 100%"
New file was created in PR and was fully covered with test. It was successfully submitted to CodeCov, however shows 0% coverage for the file. See the screenshots below
![circle_ci](https://user-images.githubusercontent.com/5285857/27915981-7b1ff068-6270-11e7-8f2e-799a560aa25d.png)
![codecov_console](https://user-images.githubusercontent.com/5285857/27916408-9fb9e6b2-6271-11e7-96af-bf4345463df1.png

[2017-07-11 12:55] yyunikov commented on #421
I’ve created a test repo to reproduce an issue and it reproduces without a doubt. Please check:
https://github.com/yyunikov/codecov-example-java/pull/4/files
Report is below:
https://codecov.s3.amazonaws.com/v4/raw/2017-07-11/8811583BD8872206B00EB166993138A4/9486f313f4298d31111f2b9f98ef2177bd370259/6bb44336-05dc-4118-8819-7930549fd8a8.txt
![codecov1](https://user-images.githubusercontent.com/52858

[2017-07-12 21:59] janpaul123 commented on #394
Cool, seems to work now, thanks! 👍

[2017-07-12 21:59] #394 closed

[2017-07-13 01:14] jessesnyder commented on #375
@stevepeak  I'm seeing this problem with version 2.0.9. See for example:
https://codecov.io/gh/Dallinger/Dallinger/src/features%2F662-better-qualify/dallinger/command_line.py#L739

[2017-07-13 14:07] neuroconductor-devel opened #422 "zombie repos"
There might be a bug in the syncing algorithm with GitHub. I have zombie repos reported on Codecov that I cannot get rid of. They are all named "None" and were at one point valid repos (I've deleted them from GitHub since then).

[2017-07-14 07:48] stevepeak commented on #422
Fixed up. These specific project were removed from Github and not properly reflected on Codecov.

[2017-07-14 07:48] #422 closed

[2017-07-15 15:58] Bilge opened #423 "Coverage badge does not maintain consistent horizontal padding around percentage text when coverage at 100%"
![ono](https://user-images.githubusercontent.com/470626/28240744-ddecc0ee-697e-11e7-9769-4d170de9e233.png)

[2017-07-17 07:37] stevepeak commented on #423
Thanks, we'll go about fixing this styling.

[2017-07-17 07:46] #423 closed

[2017-07-17 07:46] stevepeak commented on #421
Closing since this is a per-project issue. Furthermore, the issue is with jacoco xml not Codecov. Thanks

[2017-07-17 07:46] #421 closed

[2017-07-17 07:47] stevepeak commented on #420
Thank you for the awesome feedback :) I'll look over the svg flare to see if we can accommodate this quickly.

[2017-07-17 08:32] marco-c opened #424 "Dashboard empty since removal of a couple of reports"
After the removal of a couple of commits (using the API, https://docs.codecov.io/reference#section-delete-a-commit), the dashboard at https://codecov.io/gh/marco-c/gecko-dev got empty.

The page says "No commits found on master yet.", even though there is a list of commits at https://codecov.io/gh/marco-c/gecko-dev/commits.

[2017-07-17 08:36] stevepeak commented on #424
There is known issue when deleting the head commit on a branch: project get's stuck in this state.
Fixed 👍

[2017-07-17 08:36] #424 closed

[2017-07-17 08:46] marco-c commented on #424
Thanks!

[2017-07-18 21:10] manh84 commented on #420
Hep me

[2017-07-20 21:18] Blackbaud-PatrickOFriel commented on #355
@stevepeak @TimvdLippe Did you ever resolve the issue mentioned above. We're running into some wonkiness when we have a ci skip when committing baseline screenshots to our repository

[2017-07-21 19:59] patflick opened #425 "commits.svg: crooked guidance lines"
The commits.svg image showing a repositories coverage by time has crooked guidance lines. Eg this one showing my repos `graphs/commits.svg`:
![](https://codecov.io/gh/patflick/mxx/branch/master/graphs/commits.svg?branch=master)

The green, yellow and red lines for 100, 85 and 70% coverage are not straight, and make it looks like the actual test coverage is decreasing even though there is no change

[2017-07-22 05:24] zeux opened #426 "Paths can't be ignored in .codecov.yml"
I had to rename .codecov.yml to codecov.yml to be able to ignore paths for code coverage; see this commit:

https://github.com/zeux/meshoptimizer/commit/763351990366031fd3044d159bd7ac1526376cf4

This behavior is extremely surprising and - as far as I can tell - undocumented. It would be nice to fix it.

[2017-07-24 05:16] faragorn commented on #349
`.codecov.yml` is ignored for my repo, it creates unnecessary noise, see details here: https://github.com/faragorn/giphy_api/pull/5
how can I fix this?

[2017-07-24 07:18] stevepeak commented on #349
@faragorn the yaml was not discovered properly. I've adjusted your project to look in the correct location now.

[2017-07-24 07:47] stevepeak commented on #426
This projects codecov.yml location is cached at `./codecov.yml` at the moment, which appears accurate. Is it working since the location change?

[2017-07-24 13:31] zeux commented on #426
Yeah it is - but it was *not* working when the file was named `.codecov.yml` (note the dot), which is why I had to rename it in the commit above.

[2017-07-25 03:49] faragorn commented on #349
@stevepeak thank you, it worked!

[2017-07-28 17:02] marco-c commented on #424
Hey @stevepeak, I've removed the head commit again as there was a problem, could you fix it again?

[2017-07-29 01:01] marco-c commented on #424
Automatically fixed itself with the new build ;)

[2017-07-30 19:48] nylen opened #427 "One-line CSS change is reported as coverage decrease?"
Hi,

It looks like the codecov report for https://github.com/WordPress/gutenberg/pull/2074 was a bit off.  This was a one-line CSS change which should not have had any impact on code coverage.  However, the report shows that it decreased 0.57% (or 0.58% if you look at the `codecov/project` status check, which failed).

It looks like something was off with the coverage for the merge base of this co

[2017-07-31 20:56] nylen commented on #427
Another PR that had an incorrect report of coverage change: https://github.com/WordPress/gutenberg/pull/1817

[2017-07-31 22:37] akamud commented on #298
What is the status at the moment? Does CodeCov support monocov reports?

[2017-08-04 18:29] 13steinj opened #428 "Inability to access files from a private repository is classified on-site as paths being relative"
This took me a good few days to figure out-- so I'm posting here in an attempt to alleviate any headache of someone else with the same issue.

Upon first login and setup, codecov was only granted the public repository scope. From then I proceeded to log in on a few machines, and later set up continuous integration and coverage reports for one of my private repositories.

While the reports were upl

[2017-08-07 08:09] lballabio opened #429 ".covecov.yml detected during CI but not applied to site"
I added a `.codecov.yml` to my repo which was detected during the CI run (see https://travis-ci.org/lballabio/QuantLib/builds/261257153, line 3694 in the log).  Also, the YAML file passes correctly through your validation endpoint.  However, the settings are not applied and the report at https://codecov.io/gh/lballabio/QuantLib/commit/c4689275e0acb6e82ac5dae75fb3c8fa00e83dce/build says that no YAM

[2017-08-08 19:33] gdamore commented on #200
I'm seeing similar behavior, for example:

https://github.com/nanomsg/nng/pull/31

I have not been able to get a codecov report to show up in PR comments on this repo yet.  I can see that codecov did process the PR though, as seen here:

https://codecov.io/gh/nanomsg/nng/pull/31

So why aren't comments being made to the PR?

[2017-08-10 07:58] lazka opened #431 ".codecov.yml not detected, codecov.yml works"
Despite the docs saying otherwise, the settings in ".codecov.yml" don't apply. I had to rename to "codecov.yml" for the settings regarding status and comments to apply. Also the UI said yaml not found, and now shows the content.

project:

https://github.com/quodlibet/quodlibet
https://codecov.io/gh/quodlibet/quodlibet

[2017-08-10 08:27] lazka commented on #429
See #431, renaming to `codecov.yml` fixed it for me

[2017-08-10 08:45] lballabio commented on #429
Thanks. Kind of a bummer, though.

[2017-08-10 10:22] lazka commented on #429
The problem doesn't show up in one of my other projects, so maybe it's a caching issue. Maybe deleting and recreating the project helps...

[2017-08-10 19:09] vanniktech commented on #374
I'm also seeing this. For instance on [this project](https://github.com/vanniktech/gradle-android-junit-jacoco-plugin/commits/master). Travis runs through, the report is also uploaded but nothing can be seen on codecov's side.

[code]

[2017-08-11 01:22] gdamore opened #432 ""There can be only one.""
A very minor nit, but there is a misquote in the little "loading" messages that come up...

The quote should be "There can be only one."

Instead it says "There can be only one Highlander."

That's wrong... the quote is *from* Highlander, but "one" in this case refers to one out of many contending immortals.  (Several contenders are indeed from the Scottish highlanders, including the main protagon

[2017-08-11 01:24] gdamore commented on #139
I wonder if I've seen this behavior.  I *only* use fast-forward merges on my repos.

[2017-08-14 22:37] adamdicarlo opened #433 "Bash script unclear about why it can't find `codecov.yml` when source-control not present"
Feature request for codecov bash script:

1. Allow _at least_ project-root-only `codecov.yml` files when source control is unavailable
2. Show _why_ `codecov.yml` was not found when it's not (eg. "We couldn't find .git or .hg directories, so we only looked in the project-root directory")

Figuring out _why_ codecov.yml wasn't being found sucked up a few hours of my and my coworker's time.

Our bui

[2017-08-15 13:40] elharo opened #434 "Simple Text UI"
I've used code coverage tools for years. Codecov nicely integrates with Github, which is a huge plus. However the UI appears to me to be distinctly less useful than older tools such as Fisheye and Cobertura. In particular. it is difficult to impossible to drill down into the code and see what is covered and what is not. The graphical maps look impressive, but are not as usable as plain HTML tables

[2017-08-15 13:44] elharo opened #435 "Wrap long package/file names instead of truncating"
Here's an example of how codecov is hard to navigate due to truncation:

![image](https://user-images.githubusercontent.com/1005544/29318495-40299804-819e-11e7-9db3-bd70eb874766.png)

[2017-08-15 14:57] elharo opened #436 "Link to file I clicked on"
Codecov activated on a git PR and meaured coverage. Good. The report was added to the PR as a comment. Good.

I wanted to drill down into the numbers for one of the affected files that showed low coverage, NewDataflowProjectWizard.java in particular. I expected the link on that file to bring me straight to the metrics for that file and show me which lines were and weren't covered. Instead it broug

[2017-08-16 09:41] stevepeak commented on #432
HAHA! 👍 Best feedback yet.

[2017-08-16 09:42] #432 closed

[2017-08-16 11:09] stevepeak commented on #393
Thank you for your patience. Have you tried this again recently? The newest commit on this project is 5 months ago.

[2017-08-16 11:10] stevepeak commented on #393
Repository specific issues are best handled in our in-app chat or [Slack](slack.codecov.io)

[2017-08-16 11:10] #393 closed

[2017-08-16 11:14] stevepeak commented on #398
Please contact us through our In-App messagner or [Slack](http://slack.codecov.io). Thank you

[2017-08-16 11:14] #398 closed

[2017-08-16 11:16] stevepeak commented on #413
Branches are assigned based on the upload variables detected during your CI. It may be that your CI does not have a branch variable, in which case Codecov would try to find one.

Branches may change during pull request merging.

[2017-08-16 11:16] #414 closed

[2017-08-16 11:18] stevepeak commented on #428
Thank you for the feedback. We try to show a message stating that private repo access is not enabled on your profile, was this message not provided in your project?

[2017-08-16 11:22] stevepeak commented on #434
@elharo You can view this information from a single commit file list: https://codecov.io/gh/GoogleCloudPlatform/google-cloud-eclipse/tree/041fe0b474b9f4698dcee980543bd0b12311351d

See here: https://cl.ly/1n3b2h2W3o1L
Is that what you are looking for? Thank you!

[2017-08-16 11:22] #434 closed

[2017-08-16 16:38] 13steinj commented on #428
Unless I completely missed it multiple times, this wasn't shown, definitely not on the actual file pages which claimed the paths to be relative. I'm unaware of how in-depth the github api responses are in terms of explaining why a page is forbidden; but perhaps if more detailed the full  explanation shown.

If not done already, when checking for the contents of the repo using the api contents_url

[2017-08-17 10:38] elharo commented on #436
For clarity This is where I started:

![image](https://user-images.githubusercontent.com/1005544/29408480-60cdc926-8316-11e7-9fc0-107896a7612a.png)

Suppose you click on LaunchHelper.java. Then you see this:

![image](https://user-images.githubusercontent.com/1005544/29408512-7f341ea6-8316-11e7-9a70-660b50419347.png)

The page I would have liked to see is this:

![image](https://user-images.github

[2017-08-17 10:45] elharo opened #437 "Title case tooltips"
Most  UI guidelines including Windows specify that toottips be in title case:

![image](https://user-images.githubusercontent.com/1005544/29408759-6d9b7e4a-8317-11e7-9f0e-825637b2aed9.png)

I.e. change "View in tree style" to "View in Tree Style"

https://msdn.microsoft.com/en-us/library/windows/desktop/dn742443(v=vs.85).aspx

[2017-08-17 10:49] elharo commented on #434
No, I don't think that's it. This isn't about changing from tree to list and back. It's about changing from heat map to list/tree or better yet making tree/list the default view instead of heat map.

E.g. when I go to https://codecov.io/gh/GoogleCloudPlatform/google-cloud-eclipse I want to see a tree or a list view for that project. I'm sure there's some way to navigate to it through the various t

[2017-08-17 10:50] elharo opened #438 "In-App messagner --> In-App messenger"
Typo in the bug template:

**Please read** If your issue is concerning one project please contact our team through our In-App messagner or [Slack](http://slack.codecov.io).

For fastest response please contact us through our **In-App messagner** or **[Slack](http://slack.codecov.io).**

These issues are **primarily** used for feature requests.

[2017-08-17 10:54] elharo opened #439 "Don't fold code"
Consider this URL I clicked through to:

https://codecov.io/gh/GoogleCloudPlatform/google-cloud-eclipse/pull/2271/src/plugins/com.google.cloud.tools.eclipse.appengine.localserver/src/com/google/cloud/tools/eclipse/appengine/localserver/launching/LaunchHelper.java

It shows me a single line of the file:

![image](https://user-images.githubusercontent.com/1005544/29409073-a5af42ca-8318-11e7-8c9b-c11

[2017-08-17 21:50] ned1988 commented on #380
Thanks guys! I spend one week to solve this issue 😄
Now `Bitrise` works fine with `-X xcodeplist` key.

[2017-08-17 23:39] ggeorgiev commented on #413
This is one example output

x> No CI provider detected.
    Testing inside Docker? http://docs.codecov.io/docs/testing-with-docker
    Testing with Tox? https://docs.codecov.io/docs/python#section-testing-with-tox
    project root: /go/src/github.com/peernova-private/cuneiform
    Yaml found at: codecov.yml
==> Running gcov in /go/src/github.com/peernova-private/cuneiform (disable via -X gcov)
==>

[2017-08-18 12:21] stevepeak opened #440 "[gitlab] Parent commit missing from list of commits"
[code]

May result in

[code]

Need to find a way to get the parent commit if not provided in the list.

[2017-08-18 12:46] stevepeak commented on #413
Hey, we have a couple reports of this and are looking into why this is happening. Thank you for your patience.

[2017-08-18 12:50] stevepeak commented on #413
Potential patch deployed. Please advise us if this occurs again.

[2017-08-18 12:52] #413 closed

[2017-08-19 00:37] janpaul123 commented on #355
So this is how we have it set up now:

<img width="412" alt="screen shot 2017-08-18 at 17 35 48" src="https://user-images.githubusercontent.com/177461/29481879-ba416f3c-843b-11e7-8c91-db0a587eeda4.png">

For now we're going to set the threshold to 0% for all of them, but a "ignore if coverage is 0%" flag would basically solve this for us! 😄

[2017-08-20 00:22] ervin210 opened #441 "codecowsss"
**Please read** If your issue is concerning one project please contact our team through our In-App messagner or [Slack](http://slack.codecov.io).

For fastest response please contact us through our **In-App messagner** or **[Slack](http://slack.codecov.io).**

These issues are **primarily** used for feature requests.

[2017-08-20 11:48] vanniktech commented on #363
Does not seem to be working [here](https://github.com/vanniktech/espresso-utils/pull/12).

[2017-08-21 07:28] stevepeak commented on #355
@janpaul123 You'll need to set the `target: 0%` to accomplish what you mention above.

[2017-08-21 07:32] stevepeak commented on #355
CC @Blackbaud-PatrickOFriel

**General Update** This issue has been requested more often now. As you can understand, it is a complex issue that requires the system to pull multiple reports during a compare. We are working on a solution for this by re-architecturing our reporting classes. Obviously, taking longer than expected due to rapid company growth.

This issue remains on the close horizon. W

[2017-08-21 07:38] #441 closed

[2017-08-21 07:38] stevepeak commented on #438
Thanks!

[2017-08-21 07:38] #438 closed

[2017-08-21 11:56] elharo opened #442 "Chat icon needs a tooltip"
Like many graphical icons, the chat icon in the lower right corner is not self-evident:

![image](https://user-images.githubusercontent.com/1005544/29518120-26790d84-8646-11e7-912d-552d24351549.png)

I didn't know what it did so I moused over it. Nothing. It should have a tooltip that explains it.

[2017-08-21 12:06] elharo opened #443 "Patch status documentation incomplete"
I'm having trouble following the patch status documentation below. In particular it seems to me the claims about coverage on the patch depend on the existing test coverage or lack thereof. In particular this page never says whether or not there are existing tests for the divide method in advance of the patch.

If there are, then this method might be up to 100% covered after the patch, depending on

[2017-08-21 12:15] elharo opened #444 "Coverage is the ratio of hits / (sum of hit + partial + miss)"
On https://docs.codecov.io/docs/about-code-coverage I see

Coverage is the ratio of hits / (sum of hit + partial + miss)

This is unclear. I initially read this as:

Coverage is the ratio of hits / ((sum of hit) + partial + miss)

and was confused but eventually figured out that you meant

Coverage is the ratio of hits / (sum of (hit + partial + miss))

Second, I am unsure that this is the right c

[2017-08-22 23:17] psavery commented on #426
I can confirm this is an issue. I ran into this problem as well.

Although the codecov output said that the .codecov.yml was found, the ignore paths were not ignored until I changed the name to codecov.yml (removing the dot).

As a note in case it matters: I'm using C++, cmake, ctest, lcov, and gcc on an Ubuntu 14.04 travis-CI server.

[2017-08-23 21:42] aayers-agrible commented on #355
This is really great! I have a CI setup that involves only the applications which have changed getting build and tested in iOS. They all upload their test results under different flags, and what I really want to know is the change in coverage for a given flag vs. the last set of results for that flag. If I understand this correctly, the proposed feature would solve my issue entirely.

[2017-08-24 11:23] stevepeak commented on #355
@aayers-agrible 💯 This is exactly what this feature will solve.

[2017-08-24 21:25] Bilge commented on #423
Why close the issue if no change has been made?

[2017-08-29 08:10] sebreh opened #445 "Redirect loop when viewing file in browser"
When viewing the diff of a file in the browser (tested Chrome and Safari), I end up in a redirect loop, where it redirects between the `{project}/pull/{pull_id}/src?path={filename}` and `pull/{pull_id}/{filename}` routes. It doesn't stop so the result is I cannot view the diff.

This problem has been there for a couple of weeks, but it used to work fine.

[2017-08-29 09:47] stevepeak commented on #444
Thank you for asking. I'll update the docs but the equation is `hits / (hit + partial + miss)`.

Codecov is not responsible for collecting the coverage data, it is responsible in reporting it. Each language had it's unique way of collecting metrics, each language is also quite different in how it approaches branches (if at all). I cannot answer this question because it's language specific. *Codeco

[2017-08-29 09:47] #444 closed

[2017-08-29 09:48] stevepeak commented on #445
Thank you for pointing this out. It's a bug that is on our backlog to fix.

[2017-08-29 09:51] stevepeak commented on #443
The patch status concerns **only the lines adjusted** the current "project" coverage is used as a target of the patch to encourage incremental coverage increasing.

If you do not adjust any lines of code coverage-tracked code than your patch status would be `n/a`. If you adjust one line of code that is coverage-tracked than your patch status would be `0%` or `100%` depending on the line being miss

[2017-08-29 09:51] #443 closed

[2017-08-29 09:51] stevepeak commented on #440
Deployed.

[2017-08-29 09:51] #440 closed

[2017-08-29 09:54] stevepeak commented on #427
Codecov reports exactly what is uploaded. In this case the raw uploads express the drop of coverage for any number of reasons. The best I can help with is in this documentation: https://docs.codecov.io/docs/unexpected-coverage-changes

[2017-08-29 09:54] #427 closed

[2017-08-29 09:55] stevepeak commented on #420
Deployed. Thanks!

[2017-08-29 09:55] #420 closed

[2017-08-29 10:04] stevepeak commented on #411
Please contact support directly through in-app messanger or slack.codecov.io for specific repository help. Thank you

[2017-08-29 10:04] #411 closed

[2017-08-29 17:39] tkrotoff commented on #411
I've tried with `remap-istanbul` and still not working: https://github.com/tkrotoff/ReactFormWithConstraints/commit/7e469e04ed4a9bc38803754cf2416d32849cf39d

[code]

Problem is that the message is _"Woops! There was an error processing coverage reports"_. You don't have a clue about why it failed.

[2017-08-29 21:26] tkrotoff commented on #411
Manage to make it work, see https://github.com/codecov/example-typescript/issues/7

---

What you need to change in your code for it to work: https://github.com/tkrotoff/ReactFormWithConstraints/commit/b5817829141ea6b28e77a8eeaa6bdb1571dc495c

- Configure TypeScript to generate the source maps by adding [`"sourceMap": true`](https://www.typescriptlang.org/docs/handbook/compiler-options.html) to yo

[2017-08-31 09:12] Peque opened #446 "Broken visual indentation"
Due to the hit count green circles, those lines hit are a bit more shifted to the right than those that are not hit.

In the example bellow, which [can be found online](https://codecov.io/gh/opensistemas-hub/osbrain/compare/7a1496d58450bc70beae5c51f3124f41628902d7...9fa15cca8afcab20bd932f262b2b1100821ef361/changes), the `try:` and `except:` lines (and their corresponding code blocks) should be vis

[2017-08-31 15:37] stevepeak commented on #355
## Statuses for dynamic Flags

Project has N flags (maybe hundreds in the future).
Developer would like to have a commit status that concerns only the flag(s) that are uploaded during a CI build. The following (*concept*) yaml would be an example of how to use **Dynamic Statuses**.

[code]

### Example Pull 1
- Uploads only one flag: `test-a`.
- Gets one status with context: `codecov/project/fooba

[2017-08-31 21:24] Rush commented on #391
I've been testing NYC today and I encountered the same issue.

[2017-09-01 04:00] greenlaw110 commented on #267
@stevepeak looks like I have the same issue. The [travis-ci build](https://travis-ci.org/osglworks/java-unit/builds/270675908) shows everything is fine:

![image](https://user-images.githubusercontent.com/216930/29954771-9340d94e-8f1d-11e7-81b9-a074fc51ee60.png)

But codecov says the [commits is still 7 days ago](https://codecov.io/gh/osglworks/java-unit/commits):

![image](https://user-images.git

[2017-09-01 22:30] greenlaw110 commented on #267
okay it is caused by missing the `cobertura-maven-plugin` in the project `pom.xml` file. Added that plugin and it's okay now

[2017-09-03 16:00] mayeut commented on #216
It's possible to remove them manually one by one but it would be better if this could be done automatically.

It also seem possible to delete the default branch manually (though I haven't try to do it, the link still appears). Is that a feature or a bug ?

[2017-09-04 08:51] stevepeak commented on #216
Branches are automatically deleted via GitHub webhooks. If your project is not seeing this, it could be due to lack of webhooks being established. Please contact support in-app or [Slack](slack.codecov.io) for help on specific project(s). Thank you!

[2017-09-04 08:51] #216 closed

[2017-09-05 01:52] robbieaverill opened #447 "[Improvement] Do not fail status checks if no initial report is available"
If codecov.io integration is being added to a GitHub repository, the first pull request (often the one containing this integration) will fail status checks since no base coverage report is available.

Personally, I think it would be nice for this situation to return a "pass" rather than a "fail" as it visually indicates that something is wrong with the pull request, when in fact it's a new check t

[2017-09-05 15:40] stevepeak commented on #447
@robbieaverill Thank you for your feedback. Indeed it would be nice to pass or ignore the status for new projects. We cannot set a pass for projects that are not new since it could be a way to skip checking the coverage.

I'll think of something to help this out. Thanks!

[2017-09-05 15:40] #447 closed

[2017-09-07 23:15] Lectem commented on #426
I confirm removing the dot worked for me too.
With ".codecov.yml" : https://codecov.io/gh/Lectem/Worldstone/commit/28db3915fa5cfe009f6b744d0fef487275fe0cbb
With "codecov.yml" : https://codecov.io/gh/Lectem/Worldstone/commit/1949c84fa54ce30d9ac090cf0e5c748fc4a87bac     <<< source/system/tests/systemtests.cpp is ignored, expected behaviour

[2017-09-14 15:00] ofek opened #448 "Incorrect coverage"
@stevepeak @304NotModified @nfischer @skirpichev @mpavlov @rockuw Issue #191 is happening to me too and I think I've discovered the reason why this is happening to people only sometimes.

Recent commits:
![rc](https://user-images.githubusercontent.com/9677399/30436245-a6f4a102-9939-11e7-952e-fd906c594718.PNG)

That first one isn't even committed; it's just a PR.

Now observe coverage:
![cb](https:

[2017-09-14 15:05] skirpichev commented on #448
Maybe, but for sure - my PR's, mentioned in #191 were not on the master branch.

[2017-09-14 20:19] nfischer commented on #448
I saw incorrect coverage when opening a PR from a feature branch (on the main repo). The PR was landing on master.

[2017-09-15 22:55] Eldinnie opened #449 "Line hits unclear"
Hi,
I have a question regarding line hits. I'm maintainer for a python project and we recently switched from coveralls to Codecov. However there's one feature I don't really understand on Codecov, being line hits.

First some background this is a python library, automatically run on Travis and Appveyor and sending coverage reports to Codecov. Travis runs in a matrix for 7 different python version,

[2017-09-17 18:09] liorsion commented on #306
I have a similar issue but weirder: it works on one PC but shows no coverage on another.. for the same PR

[2017-09-18 17:16] Apidcloud commented on #426
I had the same issue while trying to set **patch threshold**. Renaming the file to **codecov.yml** made it work!

[2017-09-20 13:48] jagerman opened #450 "codecov.io is not resolving properly"
I was trying to check out the project, but I get a DNS resolution failure when trying to go to `codecov.io`.  Upon further investigation, it appears that only some of the `.io` root servers have an `NS` record for `codecov.io` and if my local caching nameserver hits one of the bad ones, the non-existence gets cached for a while, resulting in `Firefox can’t find the server at codecov.io`.

The top-

[2017-09-21 05:29] juliohm commented on #328
@dopplershift how to set the style of the badge in this case to be `flat-square` like in the https://shields.io/ URLs?

[2017-09-21 20:34] dopplershift commented on #328
No clue, I'm not sure it's even possible.

[2017-09-22 06:25] juliohm commented on #328
I wish codecov followed the img.shields.io standard, everyone else adopted it.

[2017-09-22 15:48] 13steinj commented on #428
I'm closing this because whether it be due to my suggestion or not, on the file view page when I logged on from a new phone and codecov didn't originally authenticate with the private scope, the system notified me on the file page that that could be the issue, and let me add it from there.

[2017-09-22 15:48] #428 closed

[2017-10-03 04:16] juliohm opened #451 "flat-square badge for codecov"
How to set the style of the badge to be flat-square like in the https://shields.io/ URLs?

Can you please add this functionality, or in other words, implement the shields.io interface?

[2017-10-03 18:36] ENikS opened #452 "How to specify root directory"
My repository structured like this:
[code]
After processing results I am getting a view like [this](https://codecov.io/gh/unitycontainer/container)
[code]
I'd like to 'skip' src directory and only display tested files. If I use ``fixes`` files are displayed at the root but if I try to open any of the files it results in 404 error.

Any suggestions?

[2017-10-03 20:12] blueyed commented on #452
I think "fixes" is meant for this, but might be broken?!

[2017-10-04 09:30] stevepeak commented on #452
You can use `ignore` to ignore the test files.

[code]

[2017-10-04 09:30] #452 closed

[2017-10-04 09:51] stevepeak commented on #451
We do support Shields. I'll make a note to add this to our UI.

http://shields.io/ then find Codecov

e.g., `[![Codecov](https://img.shields.io/codecov/c/github/codecov/example-python.svg)]()`

[2017-10-04 09:51] #451 closed

[2017-10-04 13:24] ENikS commented on #452
I am ignoring test files. It is not what I am trying to do. Did you even read my question before closing this issue?

[2017-10-04 14:31] blueyed commented on #452
@stevepeak
There seem to be issues with the mapping (see also the intercom issue I've posted where mapping (without `fixes`) was acting up.

[2017-10-04 15:22] juliohm commented on #451
@stevepeak your example doesn't answer my question. How to set the style to be flat-square? Open http://shields.io and search flat-square

[2017-10-05 14:01] aayers-agrible commented on #355
One question I would have about this feature is how the overall project coverage would be resolved, for instance in the graph that is shown on the main page of the project. What number would be used to calculate the "min per day"? Would it be from the individual statuses that were posted that day, or could it be the overall resolved coverage from the most recent version of every flag up to that po

[2017-10-08 02:06] JimBobSquarePants commented on #448
Wildly inaccurate. I've got a 6.43% decrease with zero code changes.

https://github.com/SixLabors/ImageSharp/pull/363/files

[2017-10-08 13:59] jedwards1211 commented on #383
This happened to me here: https://codecov.io/gh/jcoreio/superquery/commit/023ee7b52c10538293a35c552268d2e02faad9c7

Why should this ever mark the commit as failed in GitHub?

[2017-10-10 18:01] robinst commented on #431
Ping?

[2017-10-12 19:32] Raul6469 commented on #431
I'm facing the same problem. Even if in the CI build Codecov outputs that a yml config file is found, it seems not to be taken into account. Renaming it from `.codecov.yml` to `codecov.yml` seems to be necessary.

It would be nice to make it appear in the documentation, specifically [here](https://docs.codecov.io/v4.3.6/docs/codecov-yaml#section-can-i-name-the-file-codecov-yml-)

[2017-10-17 07:07] mrcasals commented on #355
Hi all!

I think I'm having the same issue as @pcardune, but I want to check it. I'm one of the maintainers of https://github.com/decidim/decidim, as you can see we are using a monorepo strategy right now. Most of our changes inly affect one of the folders, so I wanted to run the tests for only the folders that have modified files. This is the PR implementing this change:

https://github.com/decid

[2017-10-17 08:22] stevepeak commented on #355
@mrcasals Codecov will wait for all Commit Statues, filtered to only CI testing related, to be reported. This is key to posting accurate Codecov commit statuses.

In your case: there are many Circle statuses, which is perfectly fine. I see the latest commit is working fine, so maybe this a non-issue. But there is some complexity behind our checks, but for your case we rely on GitHub webhooks which

[2017-10-17 12:56] mrcasals commented on #355
@stevepeak we just merged the PR adding flags, and I rebased https://github.com/decidim/decidim/pull/2028 so it's using flags. To show the code is working, I've added a new file in the `decidim-proposals/` folder, so only the `proposals` and `main` jobs would run the tests, and thus report status to codecov.

This is the codecov report:

https://codecov.io/gh/decidim/decidim/pull/2028

As you can

[2017-10-19 14:38] christoff-1992 commented on #311
Hey @philk - Similar issue here where the CI system - Jenkins isn't available from the internet. How did you resolve the issue in this case? Is it as simple as adding the configuration into the yaml?

e.g:

codecov:
  ci:
    - localAddressHere

[2017-10-25 08:08] stevepeak commented on #402
Windows CI services: Please give our new PowerShell uploader a shot: https://github.com/codecov/codecov-exe

[2017-10-25 12:34] altendky commented on #402
@stevepeak Why is `codecov.disable.append('search')` appropriate?  The commit that introduces it doesn't explain why it should be disabled.

Initial commit: https://github.com/codecov/codecov-python/commit/d334f5c53def608a502f520c3856e115c34f5086
Latest: https://github.com/codecov/codecov-python/blob/adc22c19f3e924cac15a7ee25edfb3a5b518bf7c/codecov/__init__.py#L412

[2017-10-26 20:25] Godsmith commented on #402
Thank you Steve, I had the same problem but the Powershell uploader worked on the first try.

[2017-10-27 04:33] johlju commented on #448
@ofek I think I hit the same issue? It seems that a PR that is sent in, which for example does not have proper testing and percentage goes down, because the badge is (wrongly) calculating (getting percent coverage) on the PR instead of the branch.

Latest merge/commit had coverage at 100%.

![image](https://user-images.githubusercontent.com/7189721/32088008-4e8af214-bae0-11e7-95a3-5770797ff9a7.png

[2017-10-27 04:39] johlju commented on #448
@ofek and the contributor is using the dev branch as the working branch  - so I'm seeing the same behavior.

[2017-10-27 04:39] ofek commented on #448
Yes and look same branch name `dev`. I think that is the issue (or perhaps one of multiple).

[2017-10-27 12:52] mebowen commented on #391
I would also love to see branch and function coverage on codecov.

[2017-11-01 09:16] changgonggithub opened #453 "labview and matlab development paltform"
**Please read** If your issue is concerning one project please contact our team through our In-App messagner or [Slack](http://slack.codecov.io).

For fastest response please contact us through our **In-App messenger** or **[Slack](http://slack.codecov.io).**

These issues are **primarily** used for feature requests.

[2017-11-01 14:23] jdpedrie opened #454 "dew23qa"
**Please read** If your issue is concerning one project please contact our team through our In-App messagner or [Slack](http://slack.codecov.io).

For fastest response please contact us through our **In-App messenger** or **[Slack](http://slack.codecov.io).**

These issues are **primarily** used for feature requests.

[2017-11-01 14:24] #454 closed

[2017-11-01 14:31] daspecster commented on #454
Woof 🐶

[2017-11-03 03:31] wibobm commented on #376
If you have paid account for private repos on travis-ci the link is also bad because it assumes your repo is on travis-ci.org instead of travis-ci.com

[2017-11-05 03:38] bagrat opened #455 "Badge Padding"
The padding of the coverage percentage part in the CodeCov padge is very low (are maybe even absent?). Here's an example:

<img width="289" alt="screen shot 2017-11-05 at 7 36 03 am" src="https://user-images.githubusercontent.com/3033265/32411727-28be10c0-c1fc-11e7-9ed4-5540dffbd5b5.png">

It would be great if CodeCov badge percentage part padding would set like the one for the `health` badge in t

[2017-11-05 03:39] bagrat commented on #455
Putting the real one, for demo and to track the issue status in realtime 🙂

[![Coverage Status](https://codecov.io/gh/bagrat/untt/branch/master/graph/badge.svg)](https://codecov.io/gh/bagrat/untt)

[2017-11-08 05:45] pvdlg commented on #185
Same issue with this repo: https://github.com/semantic-release/semantic-release
If that can help with the analysis of the issue...

[2017-11-08 10:26] stevepeak commented on #185
Hey! I'll be happy to change them manually since the internal system is not repsonding to your yaml correctly. Please ping us in Intercom chat or here to resolve your branch issue. Say `owner/repo:branch` to change 👍

[2017-11-08 14:06] pvdlg commented on #185
Thanks!
The default branch of semantic-release/semantic-release is `caribou`. See https://github.com/semantic-release/semantic-release/blob/caribou/codecov.yml#L2
But https://codecov.io/gh/semantic-release/semantic-release display `master`.

So we would like to have `caribou` as the default branch for `semantic-release/semantic-release`

[2017-11-09 14:19] fraillt opened #456 "c++ if statements is shown as not covered"
all if statements is marked as not covered, although *then* and *else* branches are executed multiple times.

https://codecov.io/gh/fraillt/testing_coverage1/src/master/include/bitsery/details/adapter_utils.h

[2017-11-12 03:55] jimporter commented on #196
Is there any magic necessary to make the workflow in the first comment work correctly? It's not entirely clear to me. I also merge via fast-forwarding and don't see any updates to the master branch on codecov until I push a new commit directly to master. Here's my codecov page if it helps: https://codecov.io/gh/jimporter/bfg9000

[2017-11-13 00:16] ccbrown commented on #426
Also encountered this issue with `ignore` not working for .codecov.yml, but working for codecov.yml. Weird.

[2017-11-13 09:32] bitranox opened #457 "codecov fails on Python 3.2 on Travis CI with error in pyopenssl"
what : python 3.2 / Travic CI
All other Python Versions work correctly. (2.6 .... 3.6)
ONLY on Python 3.2 following Error occurs :

=== LOG ===

$ codecov
Traceback (most recent call last):
  File "/home/travis/virtualenv/python3.2.6/bin/codecov", line 7, in <module>
    from codecov import main
  File "/home/travis/virtualenv/python3.2.6/lib/python3.2/site-packages/codecov/__init__.py", line 7, i

[2017-11-14 10:51] stevepeak commented on #355
We will be **deploying this feature shortly**. I wanted to let you all know what will be supported in the first run.

## ✅  Added `assume` to flags
[code]

#### How assumptions work
1. You upload report(s) to Codecov.
1. We wait for CI to completes.
1. Once CI is complete, we loop through all flags to see if any are missing and should be assumed.
1. We inherit coverage from the previous parent rep

[2017-11-23 05:43] jayvdb commented on #450
Is this something that the codecov team can do anything to fix?

[2017-11-23 05:45] jayvdb commented on #457
G'day, this bug report belongs over at https://github.com/codecov/codecov-python .  Do you want to re-create there, for attribution?
Or ignore, and I'll copy it across.

[2017-11-23 08:42] jayvdb opened #458 "Unify accounts using keybase.io"
See http://keybase.io/

It can be used to verifiably connect user accounts at GitHub , GitLab & BitBucket , so codecov can show a single profile.

e.g. http://keybase.io/jayvdb

[2017-11-23 08:43] jayvdb opened #459 "Show most recently updated projects first"
After logging into codecov.io , on the dashboard I typically want to see the projects that have recently submitted new coverage data.

[2017-11-23 08:47] jayvdb commented on #433
This should be submitted to https://github.com/codecov/codecov-bash

[2017-11-29 09:03] micksatana commented on #411
In case someone want to use remap-istanbul to solve this problem.

In `package.json` should contain something like this in the `"scripts"` attribute.
[code]

And in `.travis.yml`
[code]

[2017-11-30 01:42] gbmhunter opened #460 "[BUG] codecov incorrectly treating tag name as branch."
I am working on the repo https://github.com/mbedded-ninja/CppTemplate/ in the develop branch. If I then merge the commits from develop to master (and create a new commit on master at the same time) and then tag with say `v1.1.0`, codecov seems to get confused and thing the branch name is `v1.1.0` when it really should be master.

This can be seen at https://codecov.io/gh/mbedded-ninja/CppTemplate

[2017-12-01 21:10] horenmar commented on #426
Also got hit by this

[2017-12-02 12:58] Lectem commented on #431
Duplicate of #426.
It'd be nice to have an official answer, it's been months already

[2017-12-06 14:22] stevepeak commented on #431
Actively fixing this issue. Thank you for your patience.
Closing this in favor of #426

[2017-12-06 14:22] stevepeak commented on #426
Applied a patch today concerning this issue. Thank you all for your patience.

[2017-12-06 16:42] adamdicarlo commented on #433
Thanks, I must not have noticed that repo when I submitted this.

[2017-12-06 16:42] #433 closed

[2017-12-06 16:42] adamdicarlo commented on #433
https://github.com/codecov/codecov-bash/issues/100

[2017-12-06 22:34] daiglej opened #461 "make the https://codecov.io/bash a shell script"
Most docker images do not support bash, but only sh.

On the other hand, almost all system that support bash do support sh(shell).
You should provide a shell script instead of bash for a maximum audience reach.

[2017-12-07 11:35] stevepeak commented on #461
Thank you for the feedback! I'll need to experiment with using `sh`, but I fear there will be missing packages such as `gzip` and `curl`. Or is that a bad assumption?

[2017-12-07 12:49] LebedevRI commented on #379
@stevepeak is this functionality present or not?
[code]

[2017-12-07 15:39] daiglej commented on #461
Yes probably, I know that those are not installed by default on most docker images. Doe I don't know if they can be considered as part of bash. I know that even the official docker bash image does not have curl.

Maybe an other option could be have a minimal docker image (something based on alpine) that already have the https://codecov.io/bash code in it that already has all the necessary packages

[2017-12-07 18:08] dijonkitchen opened #462 "Can't login and see codecov in Safari"
Login doesn't work right on Safari. It doesn't properly login and show repos, it just gives 4xx error and keeps asking me to login with Github, even when I already have.

I can confirm it works right on Chrome.

[2017-12-07 19:52] LebedevRI commented on #426
Hmm. I'm also having an issue with ignoring some paths, but i'm not sure if my issue is different:
The ignore patterns are specified:
https://github.com/darktable-org/rawspeed/blob/67a9e11d275a002d4599b7c6e1db9e2632bebd90/.ci/codecov.yml#L16-L20
[code]
Yet the report still shows `test/librawspeed`
https://codecov.io/gh/darktable-org/rawspeed/tree/2cce64527b4d32ea6a3c1174a53e496415465965
Am i doing

[2017-12-08 15:47] stevepeak commented on #461
Creating our own docker container is not difficult, but it's the overhead that has concerned customers.

Could you move the coverage reports into a shared volume and upload outside the docker container?

[2017-12-08 16:03] daiglej commented on #461
Yes thats what I am doing now. But our CI contains a few secrets in the
form environment variable.
I was concern that your server ever got compromised, it could escalade in
us getting those secrets read and sent to someone.

So I had to clean those secrets first.
I would have prefer to go the other way around, whitelist what i am
exposing to the container that runs your code.

On Fri, Dec 8, 2017

[2017-12-11 11:21] skirpichev opened #463 "Patch coverage is incomplete, but shown as 100%"
This [codecov/project](https://codecov.io/gh/diofant/diofant/compare/0920be6247f60badca6c1937e460b009d66b367f...e9e6197b078c4e746e46116e78ede6513e62cc41) shows 100% coverage for diff.  Yet, in "changes" section you can see "changes found" in the
diofant/solvers/diophantine.py module, from which you can see that added in this PR changes for this module were not completely covered.

BTW, most (all?)

[2017-12-16 06:29] stevepeak commented on #379
Hi, the function is present. Use this format:

[code]

Let me know if you have questions following up on this.

[2017-12-16 14:30] rhysd commented on #260
I'm also facing this.

Config: https://github.com/vim-jp/vital.vim/blob/master/.codecov.yml
Comment: https://github.com/vim-jp/vital.vim/pull/526#issuecomment-352165304

[2017-12-16 22:09] LebedevRI commented on #379
https://github.com/darktable-org/rawspeed/blob/a9685b2b81fce6cb3b344a9e2eec001ee23a749f/.ci/codecov.yml#L14-L18
What am i missing? Do i *need to* specify all the other fields, too?

[2017-12-16 22:13] LebedevRI commented on #426
The ignore feature appears to be really wonky.
This appears to work:
[code]
Any of these did not work
[code]
So it looks like it really does not like `**`, and `"`, *especially if it is the first in the ignore pattern. :(

[2017-12-17 17:58] ryanhiebert commented on #310
I keep hitting these, for the past several weeks. Whenever I do, I have to go find this link again to enable private scope, because, coming from a link to the repository from a GitHub comment, the authorization on Chrome Ubuntu 16.04 seems to not take me to the GitHub authorization for private scope.

On mobile it works alright, though it logs me into GitHub, then tells me I don't have access and

[2017-12-18 09:27] stevepeak commented on #426
We have patched a number of issues concerning the yaml locations. If anyone has outstanding issues please contact our support. Thank you!

[2017-12-18 09:27] #426 closed

[2017-12-18 09:31] stevepeak commented on #461
@daiglej you could use the version that is hosted on GitHub. But you'll need to keep up with what version is deployed.

[code]

[2017-12-18 09:55] stevepeak commented on #310
Hey @ryanhiebert sorry for the confusion. We need to provide a more transparent login process so customers know if they are logging in with a private or public scope.
The only way to track if a user logs in with public or private is through cookies.

[2017-12-18 10:58] s0undt3ch opened #464 "GitHub Auth Token not cleaning up"
I tried posting this issue in Slack which supposedly is faster but never got a reply back.

After successfully authenticating against GitHub and granting access to private repos, after a couple of days, the token contained in the `github_token` cookie becomes invalid which requires one to re-authenticate, however since codecov.io never clears that cookie, I never be a chance to authenticate and I'

[2017-12-18 11:04] stevepeak commented on #464
I'll look into the issue. We do clear cookies, but it seems like it's not working as expected, which I'll work at resolving.

[2017-12-18 11:46] ankanx opened #465 "Combining model flags and Patch treshold?"
Hi, ive been trying to combine having flags that sort out specific paths to cover with having a threshold of 5% that should be allowing a flexible coverage of 5% on pull requests etc to master?

what would the pattern be for this?
Currently looking like this:

[codecov.txt](https://github.com/codecov/support/files/1567742/codecov.txt)

Thanks in advance!

[2017-12-18 12:05] stevepeak commented on #465
There is a formatting error in your yaml

[code]

[code]
The `default` needs to be indented under `patch`. And `patch` needs to be under `coverage.status`

[2017-12-18 12:08] stevepeak opened #466 "Add full example of codecov.yml to documentation"
Show a full layout of what a codecov.yml could have to show the structure off easier.

[2017-12-18 12:11] ankanx commented on #465
Like this?

[codecov.txt](https://github.com/codecov/support/files/1567804/codecov.txt)

[2017-12-18 12:30] stevepeak commented on #465
Actually like this

[code]

[2017-12-18 15:32] ankanx commented on #465
Black Magic!
Thank you great wizard.

[2017-12-19 00:55] JimBobSquarePants opened #467 "Code coverage incorrect for PRs"
I'm unable to trust codecov due to inconsistency of coverage results.

- The following PR contains no changes to the files that the coverage report states has lost coverage.
- No tests have been altered that could affect those files
- Only additional tests have been added

https://github.com/SixLabors/ImageSharp/pull/406

Of the 17 files that the report says coverage has changed 16 have simply not

[2017-12-19 03:06] ryanhiebert commented on #310
I'd be plenty happy if the desktop version gave the link to login with private scope the way the mobile version did. No need to remember it necessarily, I just want it to be possible without having to go track down an obscure URL when things aren't working.

[2017-12-19 11:06] #465 closed

[2017-12-19 11:07] stevepeak commented on #465
Want the wizard shirt? https://shop.codecov.io
Email me at steve@codecov.io 👍

[2017-12-21 18:34] donatello commented on #290
Also affected by this problem - e.g. https://github.com/minio/minio/pull/5295

The build logs on codecov don't seem to indicate that anything is wrong - https://codecov.io/gh/minio/minio/commits/df58a72/builds - is this issue being looked into?

[2017-12-22 08:41] RawToast commented on #462
I was stuck stuck on the login page (logging in sends me back to the login page...)

I had to clear all codecov data from Safari (Preferences -> Privacy -> Manage website data) and then I could log in.

[2017-12-22 16:07] dijonkitchen commented on #462
Confirmed that works, but it shouldn't be required!

[2017-12-23 16:12] aryoda commented on #228
I also receive this message

when I am trying to access my github project (https://github.com/aryoda/tryCatchLog).

I have already logged out from codecov.io, deleted all my cookies and logged-in again.

No success.

Why is this happening and how can I solve it?

[2018-01-03 02:59] faheel commented on #448
I can confirm this bug: if there's a PR from a fork's X branch against upstream X branch, the website and the badge and both report the latest coverage to be the coverage of that PR.

[2018-01-03 14:04] stevepeak commented on #448
Hey fellows. I want to check on this issue to see if there are any new pull requests I can review. Thank you for your patience.

[2018-01-03 14:05] stevepeak commented on #448
@faheel do you have an example commit I can review to see this in action?

[2018-01-03 14:49] faheel commented on #448
@stevepeak, I received [this PR](https://github.com/faheel/BigInt/pull/14) (with a single commit) on a project of mine when I found out this problem. The commit in the PR was made on the fork's `master` branch. I noticed that the coverage badge that I have in the README was showing a lower coverage % which was from the PR, and when I checked out the [project page on Codecov](https://codecov.io/gh/

[2018-01-08 19:55] MNie opened #468 "F# example"
Hi I created an F# example based on the old format of fsproj since the new one seems to [doesn't work right now](https://github.com/OpenCover/opencover/issues/787).

[Example repository](https://github.com/MNie/codecov-fsharp) Is it okay?

[2018-01-11 15:46] stevepeak commented on #467
Thank you for your issue posting. I understand your concern and assure you that our report accuracy is spot on, I can help you with your specific problem.

First off, Codecov is a reporting tool. We report exactly what is uploaded. We also store the raw uploaded reports for your viewing and confirmation. These reports are found in the `Build` tab in Codecov when viewing a single commit. I would in

[2018-01-11 15:46] stevepeak commented on #467
I would love to work with you if there is data that we are not processing correctly.

[2018-01-11 15:47] stevepeak commented on #419
Fixed here: https://github.com/codecov/support/issues/467

[2018-01-11 15:47] #419 closed

[2018-01-12 05:40] JimBobSquarePants commented on #467
Thanks @stevepeak

So what does the below mean?

[code]

The Github diffs show clearly that the `ResizeHelper` hasn't been altered so what is identifying changes?
https://github.com/SixLabors/ImageSharp/pull/406/files

Also why would rebuilding a commit fix the report?

[2018-01-12 15:02] benjaoming opened #469 "Allow badges on PyPi"
Most README.rst files are re-used on PyPi, so if you can update your HTTP server's policy to allow serving the badges on `pypi.python.org` and `pypi.org`, that would be super! :)

![image](https://user-images.githubusercontent.com/374612/34880839-fb0d9c18-f7b1-11e7-9528-47690bb86416.png)

[2018-01-16 10:26] stevepeak commented on #468
Fantastic job @MNie Thank you kindly.

[2018-01-16 10:26] #468 closed

[2018-01-16 10:38] MNie commented on #468
@stevepeak no problem :) Do you want to transfer this repository to [codecov](https://github.com/codecov)?

[2018-01-16 10:39] stevepeak commented on #468
Awesome :) You'll need to transfer it to @stevepeak first then I can push it in. Thanks!

[2018-01-16 10:41] MNie commented on #468
@stevepeak repository transferred :)

[2018-01-16 10:45] stevepeak commented on #468
https://github.com/codecov/example-fsharp

👍

[2018-01-17 13:44] l4l opened #470 "More accurate partial counts to overall statistic"
Hey!

I think this feature's problem is pretty like in #34. So it nice to add the partial coverage to overall result, and then patches for tests that changes from miss to partial doesn't look pointless.

So the proposal is adding an option that increase the hit rate by the partial rate. Formula can be arbitrary, imo it can be changed from `h / (h + p + m)` to `(h + pp/pf) / (h + p + m)` where: `h`

[2018-01-17 19:56] CAD97 opened #471 "Firefox extension is incompatible with Quantum"
https://addons.mozilla.org/en-US/firefox/addon/codecov-extension/
![2018-01-17 1](https://user-images.githubusercontent.com/5992217/35063456-248da506-fb95-11e7-9bde-99bf94421cd0.png)

Please mark the Firefox extension as out-of-date/not-supported https://github.com/codecov/browser-extension or update the extension to work with current Firefox.

This might be as simple as repackaging and re-releasi

[2018-01-18 09:28] stevepeak commented on #470
This is a fantastic idea. I'll need to review our backend to see how we can implement this.

[2018-01-18 17:47] janpaul123 opened #472 "Allow specifying a path prefix when uploading coverage reports"
Can kind of work around this with the path fixing feature, but that requires relative paths to be unique. In our case, we have a directory structure like this:
- repo root
  - client
    - app
  - core
    - app

We upload coverage reports from both the "client" and "core" directories, but can't disambiguate between them because they both have "app" directories within them. We ended up renaming on

[2018-01-18 20:47] TomPed commented on #470
@l4l quick question. I was looking at the new calculation (3 + 1/2)/(3+1+0) = 0.875 and I'm a bit confused. So the 1/2 comes from `pp/pf`, where `pp` = number of covered branches in partials lines and `pf` = number of non-covered branches in partial lines. Wouldn't `pf` = `pp` = 1 in your given code example making `pp/pf` = 1? And would it makes sense to change `pf` to `pt`, for number of total br

[2018-01-18 21:00] l4l commented on #470
You're right, @TomPed. Fixed, thanks!

[2018-01-20 02:43] jdguzman commented on #467
I can also confirm that we have seen the same behavior. Codecov will say that coverage has dropped and flag files that have not been touched in the PR. Rebuilding will then clear the issue with no additional changes to the code.

[2018-01-20 12:21] nschloe opened #473 "badges are accidentally see-through"
As opposed to all other badges out there, the default codecov badges are see-through. This doesn't matter much if your background is white (like default GitHub), but you do notice a difference if it's not:

![bad](https://user-images.githubusercontent.com/181628/35183352-d31a2c24-fde4-11e7-82fa-d0e952cb548c.png)

[2018-01-21 16:57] nschloe commented on #469
I've never had problems with that; check out https://pypi.python.org/pypi/pygmsh for example.

[2018-01-21 18:31] benjaoming commented on #469
Hmm :)

![image](https://user-images.githubusercontent.com/374612/35197581-a4c3dd5e-fee1-11e7-8a33-25a22ca5f8fd.png)

[2018-01-21 18:32] benjaoming commented on #469
Disregard! codecov.io is blocked by Privacy Badger -- I did _not_ see that coming!

[2018-01-22 11:17] stevepeak commented on #472
@janpaul123 this is a good idea to implement and is not difficult. I'll submit a PR shortly.

[2018-01-22 11:59] #472 closed

[2018-01-22 13:31] stevepeak commented on #473
Interesting. I'll take a look at this. Thank you

[2018-01-22 13:37] stevepeak commented on #473
Are you using the badge from Codecov site or from Sheilds.io? Unless I'm mistaken, our badge should not produce this transparency.

[2018-01-22 17:21] janpaul123 commented on #472
Thank you!

[2018-01-22 17:26] nschloe commented on #473
The badge from shields.io does not have the problem; only the native codecov one does. For example this one: https://codecov.io/github/nschloe/meshio/branch/master/graphs/badge.svg.

[2018-01-23 02:02] JimBobSquarePants commented on #419
Fixed?

[2018-01-23 02:02] JimBobSquarePants commented on #467
Another incorrect report.

https://github.com/SixLabors/ImageSharp/pull/445

None of the "Impacted Files" can possibly be touched by this PR.

[2018-01-23 12:42] rjw57 opened #474 ""Oh wait! There's more" requires an apostrophe"
"There's" is a contraction of "There is" and requires an apostrophe between the "e" and "s". It's debatable whether there should be a comma between "Oh" and "wait" but that's a separate issue.

![screenshot from 2018-01-23 12-40-56](https://user-images.githubusercontent.com/146860/35276265-bcb2c114-003a-11e8-9788-61f2b6e9114a.png)

[2018-01-23 13:19] stevepeak commented on #474
Thank you 👍

[2018-01-23 13:20] rjw57 commented on #474
No probs :).

[2018-01-23 13:41] javiercardoso commented on #466
@stevepeak this example is up-to-date? or is there some missed configurations in the guist?

[2018-01-23 19:28] rsyring commented on #471
Would love this option instead.  It's so nice to be able to review PRs in GitHub and have code coverage in the diff.

[2018-01-24 07:53] stevepeak commented on #419
@JimBobSquarePants I'll follow up in #467. Thanks

[2018-01-24 07:59] stevepeak commented on #467
@JimBobSquarePants  and others, I understand and hear your fustration with this issue. I want to make it very apparent what Codecov's role is here.

Codecov is a reporting tool, not the coverage collection. The issue here is that *every* upload expresses the same coverage results and when merging the results we *do not* have enough contextual information to give accurate results specifically with

[2018-01-24 08:00] #474 closed

[2018-01-27 07:13] VladShcherbin commented on #473
@stevepeak can you also fix the paddings https://github.com/codecov/support/issues/455?

This's not right when you are punished with 100% coverage or have to use shields.io just to get a normal badge.

[2018-01-29 22:22] benjaoming commented on #469
Got some pretty good advice from @ghostwords from Privacy Badger.

Reopening this to hear back if Codecov would consider this as an obvious improvement for displaying badges...

[2018-01-30 11:50] stevepeak commented on #469
I'm finding evidence that Codecov uses cookies with badge requests... @benjaoming are you able to verify this?

[2018-01-30 11:58] stevepeak commented on #473
@VladShcherbin Thanks for the poke on #455 -- I'll fix that up along with the transparency.

[2018-01-30 12:02] stevepeak commented on #473
@nschloe can you help me out here... I must be missing the point. I just cannot find the transparency you are referring to :(

Checkout this screenshot: https://cl.ly/2n1y3q2f3N2F

[2018-01-30 12:08] stevepeak commented on #455
Fixed in next release. Thank you!

[2018-01-30 12:08] #455 closed

[2018-01-30 12:14] nschloe commented on #473
Check out the badge from betterbib for example. https://github.com/nschloe/betterbib

![cc](https://user-images.githubusercontent.com/181628/35565834-692194b4-05bf-11e8-8ad1-f48904b87b71.png)

[2018-01-30 12:22] stevepeak commented on #473
@nschloe It's clear by your screenshot that something strange is going on, but I'm just not able to replicate it, no matter what I do. Are you able to provide HTML example of this?

I'm sorry, but I've tried many ways to get it look like your screenshot, but it's not giving.

[2018-01-30 12:42] benjaoming commented on #469
@stevepeak I don't see cookies showing up for current badge requests, did you fix it?

[2018-01-30 15:09] nschloe commented on #473
Thanks again for the reply. I've also played around with HTML properties and indeed with those, I cannot reproduce the problem either. This surprised me. The color change only occurs when using the Stylish extension and [this theme](https://userstyles.org/styles/37035/github-dark).

I guess this classifies as too specific then. Since I can also use the shields badges, that's what I'll do. Closing.

[2018-01-30 15:09] #473 closed

[2018-01-30 16:29] ILMTitan opened #475 "Support renamed AppVeyor builds."
When I tell AppVeyor to rename the current build using [`Update-AppveyorBuild -Version $version`](https://www.appveyor.com/docs/build-worker-api/#update-build-details), both codecov.exe and codecov.sh receive 404 from codecov.

[Renamed build using codecov.exe that throws 404s](https://ci.appveyor.com/project/ILMTitan/google-cloud-tfs/build/0.0.8-20180125T224157+168#L887)
[Renamed build using code

[2018-01-30 21:28] rhendric opened #476 "GitLab project issues"
I'm trying to use Codecov with some GitLab repositories, but I keep running into the following issues:
* On the landing page after logging in (https://codecov.io/gl/), none of my repositories appear and syncing doesn't add them.
* After manually going to the URL that my repository should have (https://codecov.io/gl/rhendric/tap-appveyor/), the first time I refresh or attempt to go to the Settings

[2018-01-31 00:25] swrobel commented on #363
Any update here?

[2018-01-31 02:18] evandrocoan opened #477 "Failing: codecov/patch — 0% of diff hit (target 65.13%)"
1. https://github.com/evandrocoan/PythonDebugTools/commits/master
1. https://codecov.io/gh/evandrocoan/PythonDebugTools/commit/6cd86e5d4443bf653e7c8141fee86aef3ead6971

![image](https://user-images.githubusercontent.com/5332158/35601765-f07f50f2-061b-11e8-81e9-46159867ca4d.png)

I do not understand why it is failing. Is it some kind of bug on my code or `codecov`?

[2018-02-01 14:57] scottx611x opened #478 "Feature Request: OCaml support"
Hi all, First off I want to thank you for the lovely work you do!

Getting exposed to OCaml recently I've naturally wanted to use your service to get coverage reports, but I haven't seen any way to do so.

A combination of these two projects: [Bisect_ppx](https://github.com/aantron/bisect_ppx) & [Ocveralls](https://github.com/sagotch/ocveralls) allows one to have this ability on coveralls.io

Than

[2018-02-08 17:37] codingjoe commented on #311
Having the same issue here. Can you maybe document here what you discussed in the chat?

[2018-02-09 09:09] stevepeak commented on #311
It's ok that Jenkins is not available publically. Codecov uses GitHub API's to determine the CI state and not Jenkins (or any other CI) API's.

[2018-02-09 09:10] stevepeak commented on #311
Sometimes Jenkins does not set the `targeturl` in the GitHub status which is an issue. If this is the case then you must rely on the `context` which may be `default`.

[code]

[2018-02-09 09:55] matej commented on #363
We just deployed codecov to one project in our monorepo and are seeing the same problem. We have frequent commits from untracked projects in the repository so it's pretty likely that we branch off for a new pull request branch from a commit with no coverage data. In that case we hit the "Missing base commit".

This sounds like it would resolve the issue for us. However, the deployed feature does n

[2018-02-19 22:02] tjiagoM commented on #378
Although it seems there was a merged PR referencing this issue, the issue is not solved. I just found the same bug in the code coverage of my project. I created a new file with the same name in another subdirectory, and now the original file is not tracked anymore in codecov

[2018-02-20 15:21] Nihlus opened #479 "Unable to use Altcover coverage reports"
When attempting to upload a coverage report generated via [Altcover](https://github.com/SteveGilham/altcover), codecov accepts the file and appears to consume it, but fails with an error message on the service, claiming that no files were found in the report.

No coverage information is extracted or presented. I've included a sample file, build log from Travis, and the error log on the service.
[c

[2018-02-21 17:27] SteveGilham commented on #479
Having looked at your documentation, I see the underlying issue.

For historical reasons (being that it was originally written back when the freeware NCover version 1.5.x was the _de facto_ standard for .net coverage), altcover emits coverage data in classic NCover format, which is almost entirely unlike OpenCover format.  This support item is tantamount to a request support for this separate form

[2018-02-21 18:16] Bilge opened #480 "Newer builds of same commit are discarded"
If a cron job is configured to run on a specific branch and that branch doesn't move forward (i.e. it continues to point to the same commit) all newer builds will be discarded and it will continue to show the oldest coverage report.

I posit that newer builds should either replace, or append to, older ones.

For example, the [Porter coverage for master](https://codecov.io/gh/ScriptFUSION/Porter/br

[2018-02-22 04:11] Rush opened #481 "Alternatives to Codecov? - Waiting for status to be reported"
I contacted codecov support but unable to get resolution. Codecov is nowadays more often broken then not. The uploads say they are successfully uploading, using codecov 3.0.0 from npm.

![](https://rush.sh/15MmIlH10PhE+90dytw8PcYIa+k/screenshot.png)

The in-codecov logs is showing a lot of errors probably internal to how codecov is working.

Do y'all know any other services with strong Github inte

[2018-02-22 08:43] stevepeak commented on #481
Hi @Rush, I'm sorry to hear you are having issues. I will look for your ticket in our support channels. Since this is a single project issue I will close the thread.

[2018-02-22 08:43] #481 closed

[2018-02-22 11:51] Nihlus commented on #479
Codecov has now added support for the NCover format.

[2018-02-22 11:51] #479 closed

[2018-02-23 08:16] StephanMeijer commented on #476
Yep, here as well...

[2018-02-23 10:40] stevepeak commented on #378
Thank you for reporting this issue. It would help to have a current example of this issue so I can debug it futher. Can one of the watchers here provide me with a link to this bug? Thank you for your patience 😄

[2018-02-23 23:58] soleares commented on #477
The same thing started happening recently for our project as well. Were you able to figure it out?

[2018-02-24 00:14] evandrocoan commented on #477
I think it is falling because the coverage did not increased, i.e., more code was added but the coverage did not increased. Hence, writing a new dummy text which increases the coverage should make it pass.

I am not sure I like this. I am more tempted to remove these covecov stuff than creating useless tests just to make him happy.